   
    ai-dialog-container.active .modal.fade.stick-up .modal-dialog {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -ms-transform: translate(0);
    }

    .ai-dialog-open{
      overflow: hidden;
    }


   .ai-dialog-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
