<div class="dropdown pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog"></i>
    </button>
    <ul class="dropdown-menu profile-dropdown" role="menu">
        <li><a href="#" data-toggle="modal" data-target="#createDoiTac"><i class="fa fa-edit"></i> Sửa</a>
        </li>


        <li class="bg-master-lighter">
            <a href="#" data-toggle="modal" data-target="#modalXoa" class="clearfix">
                <span class="pull-left">Xóa</span>
                <span class="pull-right"><i class="fa fa-trash-o"></i></span>
            </a>
        </li>
    </ul>
</div>