<div class="panel panel-default">
    <!--<div class="panel-heading">-->
    <!--<div class="panel-title">-->
    <!--Option #two-->
    <!--</div>-->
    <!--</div>-->
    <div class="panel-body">
        <h5 class="m-t-0">
            Tìm kiếm
        </h5>
        <form role="form" lpformnum="2" class="form-filter">
            <div class="form-group">
                <label>Từ khóa</label>
                <span class="help">e.g. </span>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Tên đối tác</label>

                <select class="full-width" data-init-plugin="select2" data-placeholder="Họ tên">
                                <option value=""></option>
                                <option value="AK">Nguyễn Văn A</option>
                                <option value="AK">Nguyễn Văn B</option>
                                <option value="AK">Nguyễn Văn C</option>
                </select>


            </div>
            <div class="form-group long">
                <label>THEO NGÀY</label>
                <div class="input-daterange input-group" id="datepicker-range">
                    <input type="text" class="input form-control" name="start" />
                    <span class="input-group-addon">đến</span>
                    <input type="text" class="input form-control" name="end" />
                </div>
            </div>

            <!--<div class="form-group">-->
            <!--<label>Disabled</label>-->
            <!--<span class="help">e.g. </span>-->
            <!--<input type="email" class="form-control" value="You can put anything here" disabled="">-->
            <!--</div>-->

            <div class="form-group">

                <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
                            </button>

            </div>
        </form>



    </div>




</div>