<div class="form-group-attached">

  <div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="form-group">
                <label>Tiền chuyển trước</label>
                <input type="text " class="form-control">
            </div>
        </div>
        <div class="col-md-3">

         <div class="form-group">
            <label>Loại tiền thanh toán</label>
            <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
               <option value="">USD</option>
               <option value="">VNĐ</option>
               <option value="">EUR</option>

           </select>
       </div>
   </div>


   <div class="col-md-2">
      <div class="form-group">
        <label>Loại tiền giao dịch</label>
        <input type="text " class="form-control" disabled value="USD">
    </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label>Loại tiền chi</label>
    <select id="multi" class="full-width select2-hidden-accessible" data-init-plugin="select2" multiple="" tabindex="-1" aria-hidden="true">
        <option value="usd">USD</option>
        <option value="vnd">VNĐ</option>
        <option value="eruo">EURO</option>
    </select>
    </div>
</div>
<div class="col-md-1">
    <a href="" class="btn btn-primary m-t-25 m-l-5"> <i class="fa fa-plus"></i> </a>


</div>


</div>
</div>


</div>


<div class="form-group-attached">

    <div class="row">

        <div class="col-sm-12">
            <table class="table table-hover table-small" id="">
                <thead>
                    <tr>
                        <th >Tiền chuyển trước</th>
                        <th>Loại tiền thanh toán</th>
                        <th>Loại tiền giao dịch</th>
                        
                        <th >Loại tiền chi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="v-align-middle bold">5000</td>
                        <td class="v-align-middle"> USD </td>
                        <td class="v-align-middle"> USD </td>
                        <td class="v-align-middle"> USD</td>
                        <td class="v-align-middle"> 
                            <a href="" class="text-danger " data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>  

                    </tr>

                    <tr>
                        <td class="v-align-middle bold">7000</td>
                        <td class="v-align-middle"> EUR </td>
                        <td class="v-align-middle"> EUR </td>
                        <td class="v-align-middle"> EUR</td>
                        <td class="v-align-middle"> 
                            <a href="" class="text-danger " data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>                            

                    </tr>





                </tbody>
            </table>

        </div>


    </div>

    <!--<button class="btn btn-tag   btn-tag-light btn-tag-rounded m-t-10" type="button" data-toggle="modal" data-target="#addMoneyType">Thêm mới</button>-->
</div>