<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="addMoneyType" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h5>Loại tiền <span class="semi-bold"> thanh toán</span></h5>
                <p>Thông tin lưu ý khi cập nhập loại tiền</p>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio radio-primary">
                                    <input type="radio" value="yes" name="optionyes" id="usd">
                                    <label for="usd">USD</label>
                                    <input type="radio" checked="checked" value="no" name="optionyes" id="vnd">
                                    <label for="vnd">VND</label>
                                    <input type="radio" checked="checked" value="no" name="optionyes" id="eur">
                                    <label for="eur">EUR</label>
                                    <input type="radio" checked="checked" value="no" name="optionyes" id="gpt">
                                    <label for="gpt">GBP</label>
                                    <input type="radio" checked="checked" value="no" name="optionyes" id="jpy">
                                    <label for="jpy">JPY</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Số tiền</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalXoa" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h3 class="text-center m-t-20 m-b-20">
                    Xác nhận xóa
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 m-t-10 text-center">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalDuyet" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h3 class="text-center m-t-20 m-b-20">
                    Xác nhận duyệt
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 m-t-10 text-center">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5" data-dismiss="modal">Hoàn thành</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modaKhoaSo" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h3 class="text-center m-t-20 m-b-20">
                    Xác nhận đóng
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 m-t-10 text-center">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalTuChoi" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h5>Lý do <span class="semi-bold"> từ chối</span></h5>
                <!--<p>Thông tin lưu ý khi cập nhập loại tiền</p>-->
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Nội dung</label>
                        <!--<span class="help">e.g. "some@example.com"</span>-->
                        <textarea rows="" cols="" class="form-control"></textarea>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Hoàn thành</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalPhucHoi" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h3 class="text-center m-t-20 m-b-20">
                    Xác nhận phục hồi ?
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 m-t-10 text-center">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5" data-dismiss="modal">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<div class="modal fade stick-up" id="createHanMuc" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                        class="pg-close fs-14"></i>
                    </button>
                <h5>Tạo mới <span class="semi-bold">Hạn mức</span></h5>
                <p>Các lưu ý cho nhân viên khi tạo mới hạn mức</p>
            </div>
            <div class="modal-body">
                <form role="form">

                    <h6 class=" m-t-20">Ngày : <b>30/04/2017</b></h6>

                    <h6 class="bold text-uppercase m-t-20">Thông tin đối tác</h6>

                    <div class="form-group form-group-attached">
                        <label>Tên đối tác</label>
                        <span class="help"> </span>

                        <select class="full-width " data-init-plugin="select2">
                                <option value="AK" disabled selected>Chọn đối tác</option>
                                <option value="AK">Nguyễn Văn B</option>
                                <option value="HI">Nguyễn Văn A</option>


                            </select>


                    </div>

                    <div class="form-group  form-group-attached">
                        <label>ID đối tác</label>

                        <div class="input-group date">
                            <input type="text" disabled class="form-control input-black" placeholder="" value="152">
                        </div>
                    </div>

                    <h6 class="bold text-uppercase m-t-20">Thời gian</h6>

                    <div class="form-group-attached">
                        <div class="row">

                            <div class="col-sm-6">


                                <div class="form-group form-group-default input-group col-sm-10">
                                    <label>Ngày hiệu lực</label>
                                    <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component">
                                    <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                </div>


                            </div>

                            <div class="col-sm-6">


                                <div class="form-group form-group-default input-group col-sm-10">
                                    <label>Ngày kết thúc</label>
                                    <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                                    <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                </div>


                            </div>
                        </div>

                    </div>


                    <h6 class="bold text-uppercase m-t-20">Hạn mức tín dụng</h6>


                    {{> loaitien-hanmuc}}


                </form>


                <div class="row">
                    <div class="col-sm-4">
                        <!--<div class="p-t-20 clearfix p-l-10 p-r-10">
                            <div class="pull-left">
                                <p class="bold font-montserrat text-uppercase">TOTAL</p>
                            </div>
                            <div class="pull-right">
                                <p class="bold font-montserrat text-uppercase">$20.00</p>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary  m-t-5">Lưu & yêu cầu duyệt</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>