<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="pvh-chitietGD" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                        class="pg-close fs-14"></i>
                </button>
                <h5>Chi tiết <span class="semi-bold">yêu cầu</span></h5>
                <p>Các lưu ý cho nhân viên khi tạo mới đối tác</p>
            </div>
            <div class="modal-body">
                <form role="form">

                    <!--<h6 class="bold text-uppercase">Đơn vị ký hợp đồng</h6>

                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio radio-primary">
                                    <input type="radio" value="yes" name="donViKy" id="donViKy-ocb">
                                    <label for="donViKy-ocb">OCB</label>
                                    <input type="radio" checked="checked" value="no" name="donViKy" id="donViKy-congty">
                                    <label for="donViKy-congty">Công ty</label>
                                </div>
                            </div>
                        </div>

                    </div>-->


                    <h6 class="bold text-uppercase">Thông tin người gửi/nhận</h6>
                    <div class="form-group-attached">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Người gửi</label>
                                    <input type="text" class="form-control" value="DANG ANH NHAT">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Người nhận</label>
                                    <input type="text" class="form-control" value="PHAM THI NGON">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Điện thoại</label>
                                    <input type="text" class="form-control" value="0987">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>CMND</label>
                                    <input type="text" class="form-control" value="0987">
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Địa chỉ</label>
                                    <input type="text" class="form-control" value="KY ANH">
                                </div>
                            </div>

                            <div class="col-sm-6">

                                <div class="form-group form-group-default required select2-small">
                                    <label>Tỉnh thành</label>

                                    <select class="full-width" data-init-plugin="select2">
                                        <option value="">HA TINH</option>
                                        <option value="AK">Australia</option>
                                        <option value="AK">Việt Nam</option>
                                        <option value="AK">Singapore</option>
                                    </select>


                                </div>
                            </div>

                        </div>


                    </div>


                    <h6 class="bold text-uppercase">Thông tin thanh toán</h6>

                    <div class="form-group-attached">

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group form-group-default required select2-small">
                                    <label>Ngân hàng</label>
                                    <select class="full-width" data-init-plugin="select2">
                                        <option value="">Citi bank</option>
                                        <option value="AK">Australia</option>
                                        <option value="AK">Việt Nam</option>
                                        <option value="AK">Singapore</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-group-default required select2-small">
                                    <label>CN Ngân hàng</label>
                                    <select class="full-width" data-init-plugin="select2">
                                        <option value="">Ho chi minh</option>
                                        <option value="AK">Australia</option>
                                        <option value="AK">Việt Nam</option>
                                        <option value="AK">Singapore</option>
                                    </select>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Số tài khoản</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Loại dịch vụ</label>
                                    <select name="" id="" class="form-control">
                                        <option value="TM">AD</option>
                                        <option value="TG">PG</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Số tiền gửi</label>
                                    <input type="text" class="form-control" value="22,000,000">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Loại tiền gửi</label>
                                    <input type="text" class="form-control" value="VND">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Điểm giao dịch</label>
                                    <input type="text" class="form-control" value="HEAD">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>HTTT</label>
                                    <select name="" id="" class="form-control">
                                        <option value="TM">TM</option>
                                        <option value="TG">TG</option>
                                    </select>
                                </div>
                            </div>


                        </div>



                    </div>







                </form>


                <div class="row">
                    <div class="col-sm-4">
                        <!--<div class="p-t-20 clearfix p-l-10 p-r-10">
                            <div class="pull-left">
                                <p class="bold font-montserrat text-uppercase">TOTAL</p>
                            </div>
                            <div class="pull-right">
                                <p class="bold font-montserrat text-uppercase">$20.00</p>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Lưu & yêu cầu duyệt</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->



<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalYeuCauHuy" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Lý do <span class="semi-bold"> từ chối</span></h5>
                <!--<p>Thông tin lưu ý khi cập nhập loại tiền</p>-->
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="form-group">
                        <label>Nội dung</label>
                        <!--<span class="help">e.g. "some@example.com"</span>-->
                        <textarea rows="" cols="" class="form-control"></textarea>
                    </div>

                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio radio-primary">
                                    <input type="radio" value="yes" name="donViKy" id="donViKy-ocb">
                                    <label for="donViKy-ocb">Đối tác</label>
                                    <input type="radio" checked="checked" value="no" name="donViKy" id="donViKy-congty">
                                    <label for="donViKy-congty">Nội bộ</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
                <div class="row">

                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-default  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->



<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalPhucHoi" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Lý do <span class="semi-bold"> từ chối</span></h5>
                <!--<p>Thông tin lưu ý khi cập nhập loại tiền</p>-->
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="form-group">
                        <label>Nội dung</label>
                        <!--<span class="help">e.g. "some@example.com"</span>-->
                        <textarea rows="" cols="" class="form-control"></textarea>
                    </div>

                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio radio-primary">
                                    <input type="radio" value="yes" name="donViKy" id="donViKy-ocb">
                                    <label for="donViKy-ocb">Đối tác</label>
                                    <input type="radio" checked="checked" value="no" name="donViKy" id="donViKy-congty">
                                    <label for="donViKy-congty">Nội bộ</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
                <div class="row">

                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-default  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->


<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="editDanhSachTongChuaDuyet" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Chỉnh sửa <span class="semi-bold"> danh sách tổng</span></h5>
                <!--<p>Thông tin lưu ý khi cập nhập loại tiền</p>-->
            </div>
            <div class="modal-body">


                <form role="form">

                    <div class="row">
                        <div class="col-md-8">

                            <h6 class="bold text-uppercase">Thông tin đối tác</h6>

                            <div class="form-group m-l-10">
                                <label>Tên đối tác</label>

                                <select class="full-width" data-init-plugin="select2" data-placeholder="">
                                                        <option value=""></option>
                                                        <option value="AK">Nguyễn Văn A</option>
                                                        <option value="AK">Nguyễn Văn B</option>
                                                        <option value="AK">Nguyễn Văn C</option>
                                                    </select>
                            </div>


                            <div class="form-group m-l-10">
                                <label>Số hồ sơ</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group m-l-10">
                                <label>Tổng hồ sơ</label>
                                <input type="text" class="form-control">
                            </div>

                        </div>
                        <div class="col-md-4">

                            <h6 class="bold text-uppercase">Loại tiền</h6>

                            <div class="row ">
                                <div class="col-sm-6">
                                    <div class="form-group m-l-10">
                                        <label>AUD</label>
                                        <!--<span class="help">e.g. </span>-->
                                        <input type="text" class="form-control">
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group m-l-10">
                                        <label>USD</label>
                                        <!--<span class="help">e.g. </span>-->
                                        <input type="text" class="form-control">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group m-l-10">
                                        <label>CAD</label>
                                        <!--<span class="help">e.g. </span>-->
                                        <input type="text" class="form-control">
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group m-l-10">
                                        <label>GBP</label>
                                        <!--<span class="help">e.g. </span>-->
                                        <input type="text" class="form-control">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group m-l-10">
                                        <label>EUR</label>
                                        <!--<span class="help">e.g. </span>-->
                                        <input type="text" class="form-control">
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-8 m-t-10 sm-m-t-10 text-right">
                            <!--<button type="button" class="btn btn-warning  m-t-5">Lưu</button>-->
                            <button type="button" class="btn btn-primary  m-t-5" data-toggle="modal" data-target="#modalDuyet"> Lưu & yêu cầu
                                                    duyệt
                                                </button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="xemDanhSachTongDaDuyet" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                        class="pg-close fs-14"></i>
                    </button>
                <h5>Chi tiết <span class="semi-bold">Danh sách tổng đã duyệt</span></h5>
            </div>
            <div class="modal-body">

                <div class="panel panel-default">


                    <div class="panel-body">

                        <div class="row static-info">
                            <div class="col-md-5 name"> ID đối tác:</div>
                            <div class="col-md-7 value"> 1231
                            </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Tên giao dịch:</div>
                            <div class="col-md-7 value"> ABC
                            </div>
                        </div>

                    </div>


                </div>

                <table class="table table-hover table-small">
                    <thead>
                        <tr>



                            <th>Ngày</th>
                            <th>Mã danh sách</th>

                            <th>Tổng hồ sơ</th>
                            <th>Đối tác</th>
                            <th>AUD</th>
                            <th>CAD</th>
                            <th>EUR</th>
                            <th>GBP</th>
                            <th>USD</th>
                            <th>VND</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            <td class="v-align-middle">
                                17/03/2017
                            </td>

                            <td class="v-align-middle">
                                1
                            </td>

                            <td class="v-align-middle">
                                100
                            </td>

                            <td class="v-align-middle">
                                MayZus
                            </td>

                            <td class="v-align-middle">
                                200
                            </td>

                            <td class="v-align-middle">
                                300
                            </td>

                            <td class="v-align-middle">
                                400
                            </td>
                            <td class="v-align-middle">
                                300
                            </td>

                            <td class="v-align-middle">
                                400
                            </td>


                            <td class="v-align-middle">
                                400
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->