
<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="addMoneyType" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h5>Loại tiền <span class="semi-bold"> thanh toán</span></h5>
                <p>Thông tin lưu ý khi cập nhập loại tiền</p>
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio radio-primary">
                                    <input type="radio" value="yes" name="optionyes" id="usd">
                                    <label for="usd">USD</label>
                                    <input type="radio" checked="checked" value="no" name="optionyes" id="vnd">
                                    <label for="vnd">VND</label>

                                    <input type="radio" checked="checked" value="no" name="optionyes" id="eur">
                                    <label for="eur">EUR</label>

                                    <input type="radio" checked="checked" value="no" name="optionyes" id="gpt">
                                    <label for="gpt">GBP</label>

                                    <input type="radio" checked="checked" value="no" name="optionyes" id="jpy">
                                    <label for="jpy">JPY</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Số tiền</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                    </div>


                </form>
                <div class="row">

                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->


<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalTuChoi" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h5>Lý do <span class="semi-bold"> từ chối</span></h5>
                <!--<p>Thông tin lưu ý khi cập nhập loại tiền</p>-->
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="form-group">
                        <label>Nội dung</label>
                        <!--<span class="help">e.g. "some@example.com"</span>-->
                        <textarea rows="" cols="" class="form-control"></textarea>
                    </div>

                </form>
                <div class="row">

                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Hoàn thành</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->


<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalXoa" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h3 class="text-center m-t-20 m-b-20">
                    Xác nhận xóa
                </h3>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12 m-t-10 text-center">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->


<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalDuyet" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>


                <h3 class="text-center m-t-20 m-b-20">
                    Xác nhận duyệt
                </h3>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12 m-t-10 text-center">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5" data-dismiss="modal">Hoàn thành</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modaKhoaSo" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                <h3 class="text-center m-t-20 m-b-20">
                    Xác nhận đóng
                </h3>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12 m-t-10 text-center">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->