
<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifCond activeLink 'index'}} active {{else}} {{/ifCond}}">
                <a href="index.html">
                    <span class="">Danh sách đối tác </span>
                </a>
            </li>

              <li class="{{#ifCond activeLink 'doitac-nhantien'}} active {{else}} {{/ifCond}}">
                <a href="doitac-nhantien.html">
                    <span class="">Nhận tiền đối tác chuyển về</span>
                </a>
            </li>

            <li class="{{#ifCond activeLink 'doitac-hanmuc'}} active {{else}} {{/ifCond}}">
                <a href="doitac-hanmuc.html">
                    <span class="">Danh sách hạn mức</span>
                </a>
            </li>

             <li class="{{#ifCond activeLink 'doitac-hoahong'}} active {{else}} {{/ifCond}}">
                <a href="doitac-hoahong.html">
                    <span class="">Hoa hồng đối tác</span>
                </a>
            </li>

        </ul>
    </div>
</div>