<!-- {{#ifEqual type "doitac"}}
<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'doitac'}} active {{/ifEqual}} {{#ifEqual path.name 'doitac-hopdong'}} active {{/ifEqual}} {{#ifEqual path.name 'doitac-choduyet'}} active {{/ifEqual}}">
                <a href="doitac.html">
                    <span class="">Danh sách đối tác </span>
                </a>
            </li>

              <li class="{{#ifEqual path.name 'doitac-nhantien'}} active {{/ifEqual}}">

                <a href="doitac-nhantien.html">
                    <span class="">Nhận tiền đối tác chuyển về</span>
                </a>
            </li>
             <li class="{{#ifEqual path.name 'doitac-hanmuc'}} active {{/ifEqual}}">
                <a href="doitac-hanmuc.html">
                    <span class="">Danh sách hạn mức</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'doitac-hoahong'}} active {{/ifEqual}}">
                <a href="doitac-hoahong.html">
                    <span class="">Hoa hồng đối tác</span>
                </a>
            </li>
            
            <li class="{{#ifEqual path.name 'doitac-tonghopgiaodichchitra'}} active {{/ifEqual}}">
                <a href="doitac-tonghopgiaodichchitra.html">
                    <span class="">Tổng hợp giao dịch chi trả</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'doitac-diaban'}} active {{/ifEqual}} {{#ifEqual path.name 'doitac-diabanduyet'}} active {{/ifEqual}}">
                <a href="doitac-diaban.html">
                    <span class="">DS Địa bàn</span>
                </a>
            </li>

        </ul>
    </div>
</div>

{{/ifEqual}} -->

{{#ifEqual type "phongkinhdoanh"}}
<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>



            <li class="{{#ifEqual path.name 'phongkinhdoanh'}} active {{/ifEqual}}">
                <a href="phongkinhdoanh.html">
                    <span class="">Danh sách nhập liệu </span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'phongkinhdoanh-duyet'}} active {{/ifEqual}}">
                <a href="phongkinhdoanh-duyet.html">
                    <span class="">Danh sách duyệt</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'phongkinhdoanh-thongke'}} active {{/ifEqual}}">
                <a href="phongkinhdoanh-thongke.html">
                    <span class="">Thống kê</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "banlanhdao"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'banlanhdao'}} active {{/ifEqual}}">
                <a href="banlanhdao.html">
                    <span class="">Duyệt danh sách giao dịch </span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'banlanhdao-tindung'}} active {{/ifEqual}}">
                <a href="banlanhdao-tindung.html">
                    <span class="">Duyệt hạn mức tín dụng</span>
                </a>
            </li>



        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "phongvanhanh"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'phongvanhanh-danhsachgiaodich'}} active {{/ifEqual}}">
                <a href="phongvanhanh-danhsachgiaodich.html">
                    <span class="">Nhập DS Tổng</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'phongvanhanh-danhsachgiaodich-nhapdanhsachchitiet'}} active {{/ifEqual}}">
                <a href="phongvanhanh-danhsachgiaodich-nhapdanhsachchitiet.html">
                    <span class="">Nhập DS chi tiết</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'phongvanhanh-danhsachgiaodich-duyetdanhsach'}} active {{/ifEqual}}">
                <a href="phongvanhanh-danhsachgiaodich-duyetdanhsach.html">
                    <span class="">Duyệt DS</span>
                </a>
            </li>

        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "phongvanhanh-quanlygiaodich"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'phongvanhanh-quanlygiaodich'}} active {{/ifEqual}}">
                <a href="phongvanhanh-quanlygiaodich.html">
                    <span class="">Điều chỉnh giao dịch</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'phongvanhanh-quanlygiaodich-huygiaodich'}} active {{/ifEqual}}">
                <a href="phongvanhanh-quanlygiaodich-huygiaodich.html">
                    <span class="">Hủy giao dịch</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'phongvanhanh-quanlygiaodich-phuchoigiaodich'}} active {{/ifEqual}}">
                <a href="phongvanhanh-quanlygiaodich-phuchoigiaodich.html">
                    <span class="">Phục hồi giao dịch</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'phongvanhanh-quanlygiaodich-duyetphuchoigiaodich'}} active {{/ifEqual}}">
                <a href="phongvanhanh-quanlygiaodich-duyetphuchoigiaodich.html">
                    <span class="">Duyệt phục hồi giao dịch</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pcrt-nhandiengiaodich"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pcrt-nhandiengiaodich-dauhieudangngo'}} active {{/ifEqual}}">
                <a href="pcrt-nhandiengiaodich-dauhieudangngo.html">
                    <span class="">Dấu hiệu đáng ngờ</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pcrt-nhandiengiaodich-mucgiatrigiaodichlon'}} active {{/ifEqual}}">
                <a href="pcrt-nhandiengiaodich-mucgiatrigiaodichlon.html">
                    <span class="">Mức giá trị giao dịch lớn</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pkt-hachtoantay-tienmattaiquy"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-hachtoantay-tienmattaiquy-ruttgnh'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-tienmattaiquy-ruttgnh.html">
                    <span class="">Rút TGNH</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-hachtoantay-tienmattaiquy-noptm'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-tienmattaiquy-noptm.html">
                    <span class="">Nộp TM</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pkt-hachtoantay-tamung"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-hachtoantay-tamung'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-tamung.html">
                    <span class="">Tạm ứng</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-hachtoantay-thanhtoantamung'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-thanhtoantamung.html">
                    <span class="">Thanh toán tạm ứng</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pkt-congcudungcu"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-hachtoantay-congcudungcu-chimua'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-congcudungcu-chimua.html">
                    <span class="">Chi mua CCDC</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-hachtoantay-congcudungcu-phanbo'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-congcudungcu-phanbo.html">
                    <span class="">Phân bổ CCDC</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pkt-taisancodinh"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-hachtoantay-taisancodinh-chimua'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-taisancodinh-chimua.html">
                    <span class="">Chi mua TSCĐ</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-hachtoantay-taisancodinh-khauhao'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-taisancodinh-khauhao.html">
                    <span class="">Khấu hao TSCĐ</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pkt-tienthuevp"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-hachtoantay-chiphitratruocthuevp-chitruoc'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-chiphitratruocthuevp-chitruoc.html">
                    <span class="">Chi trước tiền thuê VP</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-hachtoantay-chiphitratruocthuevp-phanbo'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-chiphitratruocthuevp-phanbo.html">
                    <span class="">Phân bổ tiền thuê VP</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pkt-chiluong"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-hachtoantay-chiluong-chiluong'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-chiluong-chiluong.html">
                    <span class="">Chi lương</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-hachtoantay-chiluong-nopkhac'}} active {{/ifEqual}}">
                <a href="pkt-hachtoantay-chiluong-nopkhac.html">
                    <span class="">Nộp các khoản khác</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}} {{#ifEqual type "pkt-danhmucquanly"}}

<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-danhmucquanly-taikhoan'}} active {{/ifEqual}}">
                <a href="pkt-danhmucquanly-taikhoan.html">
                    <span class="">Tài khoản kế toán</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-danhmucquanly-nghiepvu'}} active {{/ifEqual}}">
                <a href="pkt-danhmucquanly-nghiepvu.html">
                    <span class="">Nghiệp vụ kế toán</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-danhmucquanly-nganhang'}} active {{/ifEqual}}">
                <a href="pkt-danhmucquanly-nganhang.html">
                    <span class="">Ngân hàng</span>
                </a>
            </li>

            <li class="{{#ifEqual path.name 'pkt-danhmucquanly-hoso'}} active {{/ifEqual}}">
                <a href="pkt-danhmucquanly-hoso.html">
                    <span class="">Hồ sơ công ty</span>
                </a>
            </li>


        </ul>
    </div>
</div>
{{/ifEqual}}



<!--Báo cáo-->
{{#ifEqual type "pkt-baocao"}}


<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="{{#ifEqual path.name 'pkt-baocao-bctc'}} active {{/ifEqual}}">
                <a href="pkt-baocao-bctc.html">
                    <span class="">BCTC</span>
                    <!--Mockup KT_BC_1.1-BCTC-->
                </a>
            </li>
            <li class="{{#ifEqual path.name 'pkt-baocao-bangkechungtu'}} active {{/ifEqual}}">
                <a href="pkt-baocao-bangkechungtu.html">
                    <span class="">Bảng kê chứng từ</span>
                </a>
            </li>
            <li class="{{#ifEqual path.name 'pkt-baocao-doichieusodudoitac'}} active {{/ifEqual}}">
                <a href="pkt-baocao-doichieusodudoitac.html">
                    <span class="">Đối chiếu số dư đối tác</span>
                </a>
            </li>
            <li class="{{#ifEqual path.name 'pkt-baocao-tamungnhanvien'}} active {{/ifEqual}}">
                <a href="pkt-baocao-tamungnhanvien.html">
                    <span class="">Tạm ứng nhân viên</span>
                </a>
            </li>
            <li class="{{#ifEqual path.name 'pkt-baocao-xemsodutaikhoan'}} active {{/ifEqual}}">
                <a href="pkt-baocao-xemsodutaikhoan.html">
                    <span class="">Xem số dư tài khoản</span>
                </a>
            </li>
            <li class="{{#ifEqual path.name 'pkt-baocao-xemtonquy'}} active {{/ifEqual}}">
                <a href="pkt-baocao-xemtonquy.html">
                    <span class="">Xem tồn quỹ TM</span>
                </a>
            </li>



        </ul>
    </div>
</div>
{{/ifEqual}}
<!--End Báo cáo-->