<!-- BEGIN SIDEBAR MENU -->
<div class="sidebar-menu">
    <ul class="menu-items">
        <li class="m-t-30 {{#ifContain 'sodu' layout }} active {{/ifContain}}">
            <a href="javascript:;">
                <span class="title">Quản lý số dư</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
            <ul class="sub-menu">

                <li class="{{#ifContain 'doitac' layout }} active {{/ifContain}}">
                    <a href="javascript:;">
                        <span class="title">Quản lý đối tác</span>
                        <!--  <span class=" arrow"></span> -->
                    </a>
                    <!-- <span class="icon-thumbnail"><i class="pg-grid"></i></span> -->

                    <ul class="Sub">

                        <li class="{{#ifContain 'doitac-taomoidoitac' layout }} active {{/ifContain}}">
                            <a href="doitac-taomoidoitac.html">Tạo mới đối tác</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>

                       
                         <li class="{{#ifContain 'doitac' layout }} active {{/ifContain}}">
                            <a href="doitac.html">Danh sách đối tác</a>
                            <!--  <span class="icon-thumbnail">2</span> -->
                        </li>
                         <li class="{{#ifContain 'doitac-hopdong' layout }} active {{/ifContain}}">
                            <a href="doitac-hopdong.html">Hợp đồng đối tác</a>
                            <!--  <span class="icon-thumbnail">2</span> -->
                        </li>
                         <li class="{{#ifContain 'doitac-truyvan' layout }} active {{/ifContain}}">
                             <a href="javascript:;">
                             <span class="title">Truy vấn đối tác</span></a>

                             <ul class="Sub">
                               <li class="{{#ifContain 'doitac-truyvan-hanmuc' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-hanmuc.html">Hạn mức</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                            <li class="{{#ifContain 'doitac-truyvan-hoahong-danhsach' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-hoahong-danhsach.html">Danh sách hoa hồng</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                            <li class="{{#ifContain 'doitac-truyvan-hoahong-doitac' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-hoahong-doitac.html">Hoa hồng đối tác</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                             <li class="{{#ifContain 'doitac-truyvan-thongtinID' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-thongtinID.html">Đối tác ID</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                             <li class="{{#ifContain 'doitac-truyvan-giaodichdachi' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-giaodichdachi.html">Giao dịch đã chi</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                            <li class="{{#ifContain 'doitac-truyvan-giaodich-nhantien-chuyenve' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-giaodich-nhantien-chuyenve.html">Nhận tiền chuyển về</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                            <li class="{{#ifContain 'doitac-truyvan-sodukhadung' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-sodukhadung.html">Số dư khả dụng</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                             <li class="{{#ifContain 'doitac-truyvan-hopdongdenhan' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-hopdongdenhan.html">Hợp đồng đến hạn</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                             <li class="{{#ifContain 'doitac-truyvan-baocaoquanlysodu' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-baocaoquanlysodu.html">Quản lý số dư</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                            <li class="{{#ifContain 'doitac-truyvan-doichieucongno' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-doichieucongno.html">Đối chiều công nợ</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                            <li class="{{#ifContain 'doitac-truyvan-chuyenve' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-chuyenve.html">Đối tác chuyển về</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                            
                            <li class="{{#ifContain 'doitac-truyvan-hoahongchitiet' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-hoahongchitiet.html">Chi tiết hoa hồng</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                             <li class="{{#ifContain 'doitac-truyvan-hoahongtong' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-hoahongtong.html">Hoa hồng tổng</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                             <li class="{{#ifContain 'doitac-truyvan-fileguiOCB' layout }} active {{/ifContain}}">
                               <a href="doitac-truyvan-fileguiOCB.html">File gửi OCB</a>
                                <!--  <span class="icon-thumbnail">1</span> -->
                            </li>
                        </ul>
                            <!--  <span class="icon-thumbnail">2</span> -->
                        </li>

                        <li class="{{#ifContain 'doitac-nhantien' layout }} active {{/ifContain}}">
                            <a href="doitac-nhantien.html">Nhận tiền đối tác chuyển về</a>
                            <!--  <span class="icon-thumbnail">3</span> -->
                        </li>

                        <li class="{{#ifContain 'doitac-hanmuc' layout }} active {{/ifContain}}">
                            <a href="doitac-hanmuc.html">Danh sách hạn mức</a>
                            <!--   <span class="icon-thumbnail">4</span> -->
                        </li>

                        <li class="{{#ifContain 'doitac-hoahong' layout }} active {{/ifContain}}">
                            <a href="doitac-hoahong.html">Danh sách hoa hồng</a>
                            <!--  <span class="icon-thumbnail">5</span> -->
                        </li>
                        <li class="{{#ifContain 'doitac-lanhdaoduyet' layout }} active {{/ifContain}}">
                            <a href="doitac-lanhdaoduyet.html">Lãnh đạo duyệt</a>
                            <!--  <span class="icon-thumbnail">5</span> -->
                        </li>

                    </ul>
                <li class="{{#ifContain 'doitac-tonghopgiaodichchitra' layout }} active {{/ifContain}}">
                    <a href="doitac-tonghopgiaodichchitra.html">Tổng hợp giao dịch chi trả</a>
                </li>

                <li class="{{#ifContain 'doitac-diaban' layout }} active {{/ifContain}}">
                    <a href="doitac-diaban.html">Danh sách địa bàn</a>
                </li>


                <li class="{{#ifContain 'doitac-khoasocuoingay' layout }} active {{/ifContain}}">
                    <a href="doitac-khoasocuoingay.html">Khóa sổ cuối ngày</a>
                </li>


                </li>


            </ul>

        </li>
        <li class="{{#ifContain 'phongkinhdoanh' layout }} active {{/ifContain}}">
            <a href="phongkinhdoanh.html">
                <span class="title">Phòng kinh doanh</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-money"></i></span>
        </li>

        <li class="{{#ifContain 'banlanhdao' layout }} active {{/ifContain}}">
            <a href="banlanhdao.html">
                <span class="title">Ban lãnh đạo</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
        </li>


        <li class="{{#ifContain 'phongvanhanh' layout }} active {{/ifContain}}">
            <a href="javascript:;">
                <span class="title">Phòng vận hành</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>

            <ul class="sub-menu">


                <li class="{{#ifContain 'phongvanhanh-danhsachgiaodich' layout }} active {{/ifContain}}">
                    <a href="phongvanhanh-danhsachgiaodich.html">Danh sách giao dịch</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'phongvanhanh-quanlygiaodich' layout }} active {{/ifContain}}">
                    <a href="phongvanhanh-quanlygiaodich.html">Quản lý Giao dịch</a>
                    <span class="icon-thumbnail">2</span>
                </li>

                <li>
                    <a href="phongvanhanh-thuchiengiaodich.html">Thực hiện Giao dịch</a>
                    <span class="icon-thumbnail">3</span>
                </li>

                <li>
                    <a href="phongvanhanh-hoibao.html">Hồi báo</a>
                    <span class="icon-thumbnail">4</span>
                </li>

                <li>
                    <a href="phongvanhanh-truyvan.html">Truy vấn</a>
                    <span class="icon-thumbnail">5</span>
                </li>


            </ul>
        </li>


        <li class="{{#ifContain 'pcrt' layout }} active {{/ifContain}}">
            <a href="javascript:;">
                <span class="title">Phòng chống rửa tiền</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>

            <ul class="sub-menu">

                <li class="{{#ifContain 'pcrt-congvan' layout }} active {{/ifContain}}">
                    <a href="pcrt-congvan.html">Công văn</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'pcrt-truyvancongvan' layout }} active {{/ifContain}}">
                    <a href="pcrt-truyvancongvan-chuaduyet.html">Truy vấn công văn</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'pcrt-doituongcanhbao' layout }} active {{/ifContain}}">
                    <a href="pcrt-doituongcanhbao.html">Đối tượng cảnh báo</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'pcrt-baocaonganhangnhanuoc' layout }} active {{/ifContain}}">
                    <a href="pcrt-baocaonganhangnhanuoc.html">BC Ngân hàng nhà nước</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'pcrt-dsgiaodichcogtlon' layout }} active {{/ifContain}}">
                    <a href="pcrt-dsgiaodichcogtlon.html">DS Giao dịch có GT lớn</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'pcrt-dsgiaodichdangngo' layout }} active {{/ifContain}}">
                    <a href="pcrt-dsgiaodichdangngo.html">DS Giao dịch đáng ngờ</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'pcrt-dsgiaodichnhanbiet' layout }} active {{/ifContain}}">
                    <a href="pcrt-dsgiaodichnhanbiet.html">DS Giao dịch nhận biết</a>
                    <span class="icon-thumbnail">1</span>
                </li>


                <li class="{{#ifContain 'pcrt-nhandiengiaodich' layout }} active {{/ifContain}}">
                    <a href="pcrt-nhandiengiaodich-dauhieudangngo.html">Nhận diện giao dịch</a>
                    <span class="icon-thumbnail">1</span>
                </li>

            </ul>
        </li>


        <!--<li class="">
          <a href="javascript:;">
            <span class="title">Quản lý nhân viên</span>
            <span class=" arrow"></span>
          </a>
          <span class="icon-thumbnail"><i class="pg-grid"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#">Sub Page 1</a>
              <span class="icon-thumbnail">sp</span>
            </li>
            <li class="">
              <a href="#">Sub Page 2</a>
              <span class="icon-thumbnail">sp</span>
            </li>
            <li class="">
              <a href="#">Sub Page 3</a>
              <span class="icon-thumbnail">sp</span>
            </li>
          </ul>
        </li>-->


    </ul>
    <div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->