<!-- BEGIN SIDEBAR MENU -->
    <div class="sidebar-menu">
      <ul class="menu-items">
        <li class="m-t-30 {{#ifEqual activeLink 'doitac'}} active {{/ifEqual}}">
          <a href="index.html" class="detailed">
            <span class="title">Quản lý đối tác</span>
            <span class="details">2 thông báo</span>
          </a>
          <span class="icon-thumbnail "><i class="fa fa-group"></i></span>
        </li>
        <li class="{{#ifEqual activeLink 'phongkinhdoanh'}} active {{/ifEqual}}">
          <a href="phongkinhdoanh.html">
            <span class="title">Phòng kinh doanh</span>
          </a>
          <span class="icon-thumbnail "><i class="fa fa-money"></i></span>
        </li>

        <li class="{{#ifEqual activeLink 'banlanhdao'}} active {{/ifEqual}}">
          <a href="banlanhdao.html">
            <span class="title">Ban lãnh đạo</span>
          </a>
          <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
        </li>


        <li class="{{#ifEqual activeLink 'phongvanhanh'}} active {{/ifEqual}}">
          <a href="javascript:;">
           <span class="title">Phòng vận hành</span>
            <span class=" arrow"></span>
          </a>
          <span class="icon-thumbnail"><i class="pg-grid"></i></span>

          <ul class="sub-menu">


            <li class="{{#ifEqual activeLink 'phongvanhanh'}} active {{/ifEqual}}">
              <a href="phongvanhanh.html">Danh sách giao dịch</a>
              <span class="icon-thumbnail"></span>
            </li>

            <li  class="{{#ifEqual activeLink 'phongvanhanh-quanlygiaodich'}} active {{/ifEqual}}">
              <a href="phongvanhanh-quanlygiaodich.html">Quản lý Giao dịch</a>
              <span class="icon-thumbnail"></span>
            </li>

            <li  class="{{#ifEqual activeLink 'phongvanhanh-thuchiengiaodich'}} active {{/ifEqual}}">
              <a href="phongvanhanh-thuchiengiaodich.html">Thực hiện Giao dịch</a>
              <span class="icon-thumbnail"></span>
            </li>

            <li  class="{{#ifEqual activeLink 'phongvanhanh-hoibao'}} active {{/ifEqual}}">
              <a href="phongvanhanh-hoibao.html">Hồi báo</a>
              <span class="icon-thumbnail"></span>
            </li>

            <li  class="{{#ifEqual activeLink 'phongvanhanh-truyvan'}} active {{/ifEqual}}">
              <a href="phongvanhanh-truyvan.html">Truy vấn</a>
              <span class="icon-thumbnail"></span>
            </li>


          </ul>
        </li>

        <!--<li class="">
          <a href="javascript:;">
            <span class="title">Quản lý nhân viên</span>
            <span class=" arrow"></span>
          </a>
          <span class="icon-thumbnail"><i class="pg-grid"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#">Sub Page 1</a>
              <span class="icon-thumbnail">sp</span>
            </li>
            <li class="">
              <a href="#">Sub Page 2</a>
              <span class="icon-thumbnail">sp</span>
            </li>
            <li class="">
              <a href="#">Sub Page 3</a>
              <span class="icon-thumbnail">sp</span>
            </li>
          </ul>
        </li>-->


      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->