<!-- BEGIN SIDEBAR MENU -->
<div class="sidebar-menu">
    <ul class="menu-items">
        <li class="m-t-30 {{#ifContain 'sodu' layout }} active {{/ifContain}}">
            <a href="javascript:;">
                <span class="title">Quản lý số dư</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
            <ul class="sub-menu">

                <li class="{{#ifContain 'doitac' layout }} active {{/ifContain}}">
                    <a href="javascript:;">
                        <span class="title">Quản lý đối tác</span>
                        <!--  <span class=" arrow"></span> -->
                    </a>
                    <!-- <span class="icon-thumbnail"><i class="pg-grid"></i></span> -->

                    <ul class="Sub">

                        <li class="{{#ifContain 'doitac-taomoidoitac' layout }} active {{/ifContain}}">
                            <a href="doitac-taomoidoitac.html">Tạo mới đối tác</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>


                        <li class="{{#ifContain 'doitac' layout }} active {{/ifContain}}">
                            <a href="doitac.html">Danh sách đối tác</a>
                            <!--  <span class="icon-thumbnail">2</span> -->
                        </li>
                        <li class="{{#ifContain 'doitac-hopdong' layout }} active {{/ifContain}}">
                            <a href="doitac-hopdong.html">Hợp đồng đối tác</a>
                            <!--  <span class="icon-thumbnail">2</span> -->
                        </li>

                        <li class="{{#ifContain 'doitac-nhantien' layout }} active {{/ifContain}}">
                            <a href="doitac-nhantien.html">Nhận tiền đối tác chuyển về</a>
                            <!--  <span class="icon-thumbnail">3</span> -->
                        </li>

                        <li class="{{#ifContain 'doitac-hanmuc' layout }} active {{/ifContain}}">
                            <a href="doitac-hanmuc.html">Danh sách hạn mức</a>
                            <!--   <span class="icon-thumbnail">4</span> -->
                        </li>

                        <li class="{{#ifContain 'doitac-hoahong' layout }} active {{/ifContain}}">
                            <a href="doitac-hoahong.html">Danh sách hoa hồng</a>
                            <!--  <span class="icon-thumbnail">5</span> -->
                        </li>
                        <li class="{{#ifContain 'doitac-lanhdaoduyet' layout }} active {{/ifContain}}">
                            <a href="doitac-lanhdaoduyet.html">Lãnh đạo duyệt</a>
                            <!--  <span class="icon-thumbnail">5</span> -->
                        </li>

                    </ul>
                <li class="{{#ifContain 'doitac-tonghopgiaodichchitra' layout }} active {{/ifContain}}">
                    <a href="doitac-tonghopgiaodichchitra.html">Tổng hợp giao dịch chi trả</a>
                </li>

                <li class="{{#ifContain 'doitac-diaban' layout }} active {{/ifContain}}">
                    <a href="doitac-diaban.html">Danh sách địa bàn</a>
                </li>


                <li class="{{#ifContain 'doitac-khoasocuoingay' layout }} active {{/ifContain}}">
                    <a href="doitac-khoasocuoingay.html">Khóa sổ cuối ngày</a>
                </li>


                </li>


            </ul>

        </li>
        <li class="{{#ifContain 'phongkinhdoanh' layout }} active {{/ifContain}}">
            <a href="phongkinhdoanh.html">
                <span class="title">Phòng kinh doanh</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-money"></i></span>
        </li>

        <li class="{{#ifContain 'banlanhdao' layout }} active {{/ifContain}}">
            <a href="banlanhdao.html">
                <span class="title">Ban lãnh đạo</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
        </li>


        <li class="{{#ifContain 'phongvanhanh' layout }} active {{/ifContain}}">
            <a href="javascript:;">
                <span class="title">Phòng vận hành</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>

            <ul class="sub-menu">


                <li class="{{#ifContain 'phongvanhanh-danhsachgiaodich' layout }} active {{/ifContain}}">
                    <a href="phongvanhanh-danhsachgiaodich.html">Danh sách giao dịch</a>
                    <span class="icon-thumbnail">1</span>
                </li>

                <li class="{{#ifContain 'phongvanhanh-quanlygiaodich' layout }} active {{/ifContain}}">
                    <a href="phongvanhanh-quanlygiaodich.html">Quản lý Giao dịch</a>
                    <span class="icon-thumbnail">2</span>
                </li>

                <li>
                    <a href="phongvanhanh-thuchiengiaodich.html">Thực hiện Giao dịch</a>
                    <span class="icon-thumbnail">3</span>
                </li>

                <li>
                    <a href="phongvanhanh-hoibao.html">Hồi báo</a>
                    <span class="icon-thumbnail">4</span>
                </li>

                <li>
                    <a href="phongvanhanh-truyvan.html">Truy vấn</a>
                    <span class="icon-thumbnail">5</span>
                </li>


            </ul>
        </li>

        <li class="{{#ifContain 'pcrt' layout }} active {{/ifContain}}">
            <a href="javascript:;">
                <span class="title">Phòng chống rửa tiền</span><span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
            <ul class="sub-menu">
                <li class="{{#ifContain '#' layout }} active {{/ifContain}}">
                    <a href="javascript:;">
                        <span class="title">Công văn liên quan PCRT</span>
                        <!--  <span class=" arrow"></span> -->
                    </a>
                    <!-- <span class="icon-thumbnail"><i class="pg-grid"></i></span> -->

                    <ul class="sub">

                        <li class="{{#ifContain 'pcrt-congvan' layout }} active {{/ifContain}}">
                            <a href="pcrt-congvan.html">Tạo mới công văn</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-truyvancongvan-chuaduyet' layout }} active {{/ifContain}}">
                            <a href="pcrt-truyvancongvan-chuaduyet.html">Danh sách công văn</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-dscongvanduyet' layout }} active {{/ifContain}}">
                            <a href="../pcrt-dscongvanduyet.html">Duyệt danh sách công văn</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>

                    </ul>
                <li class="{{#ifContain 'doitac-tonghopgiaodichchitra' layout }} active {{/ifContain}}">
                    <a href="javascript:;">
                        <span class="title">Đối tượng cảnh báo</span>
                    </a>
                    <ul class="Sub">

                        <li class="{{#ifContain 'doitac-taomoidoitac' layout }} active {{/ifContain}}">
                            <a href="doitac-taomoidoitac.html">Tạo mới đối tượng cảnh báo</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-doituongcanhbao' layout }} active {{/ifContain}}">
                            <a href="pcrt-doituongcanhbao.html">Cập nhật DS đối tượng cảnh báo</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-doituongcanhbaoduyet' layout }} active {{/ifContain}}">
                            <a href="pcrt-doituongcanhbaoduyet.html">Duyệt DS đối tượng cảnh báo</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                    </ul>
                </li>

                <li class="{{#ifContain 'doitac-diaban' layout }} active {{/ifContain}}">
                    <a href="javascript:;">
                        <span class="title">Nhận diện giao dịch</span>
                    </a>
                    <ul class="Sub">

                        <li class="{{#ifContain 'pcrt-nhandiengiaodich-dauhieudangngo' layout }} active {{/ifContain}}">
                            <a href="pcrt-nhandiengiaodich-dauhieudangngo.html">Dấu hiệu đáng ngờ</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-nhandiengiaodich-mucgiatrigiaodichlon' layout }} active {{/ifContain}}">
                            <a href="../pcrt-nhandiengiaodich-mucgiatrigiaodichlon.html">Mức giá trị giao dịch lớn</a>

                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-nhandiengiaodich-danhgiagiaodich' layout }} active {{/ifContain}}">
                            <a href="pcrt-nhandiengiaodich-danhgiagiaodich.html">Đánh giá giao dịch</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>

                    </ul>
                </li>

                <li class="{{#ifContain '#' layout }} active {{/ifContain}}">
                    <a href="javascript:;">
                        <span class="title">Truy vấn</span>
                    </a>
                    <ul class="Sub">

                        <li class="{{#ifContain 'pcrt-truyvancongvan-daduyet.html' layout }} active {{/ifContain}}">
                            <a href="pcrt-truyvancongvan-daduyet.html">Truy vấn công văn</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-dsdoituongcanhbao' layout }} active {{/ifContain}}">
                            <a href="pcrt-dsdoituongcanhbao.html">Danh sách đối tượng cảnh báo</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-dsgiaodichnhanbiet.html' layout }} active {{/ifContain}}">
                            <a href="pcrt-dsgiaodichnhanbiet.html">Danh sách giao dịch nhận biết</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-dsgiaodichdangngo' layout }} active {{/ifContain}}">
                            <a href="pcrt-dsgiaodichdangngo.html">Danh sách giao dịch đáng ngờ</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>
                        <li class="{{#ifContain 'pcrt-dsgiaodichcogtlon' layout }} active {{/ifContain}}">
                            <a href="pcrt-dsgiaodichcogtlon.html">Danh sách giao dịch có giá trị lớn</a>
                            <!--  <span class="icon-thumbnail">1</span> -->
                        </li>

                    </ul>
                </li>

                <li class="{{#ifContain 'pcrt-kiemduyetgiaodich' layout }} active {{/ifContain}}">
                    <a href="pcrt-kiemduyetgiaodich.html">
                        <span class="title">Kiểm duyệt giao dịch</span>
                    </a>
                </li>

                <li class="{{#ifContain 'pcrt-baocaonganhangnhanuoc' layout }} active {{/ifContain}}">
                    <a href="pcrt-baocaonganhangnhanuoc.html">
                        <span class="title">Báo cáo NHNN</span>
                    </a>
                </li>
                </li>
            </ul>
        </li>
        <!--<li class="">
          <a href="javascript:;">
            <span class="title">Quản lý nhân viên</span>
            <span class=" arrow"></span>
          </a>
          <span class="icon-thumbnail"><i class="pg-grid"></i></span>
          <ul class="sub-menu">
            <li class="">
              <a href="#">Sub Page 1</a>
              <span class="icon-thumbnail">sp</span>
            </li>
            <li class="">
              <a href="#">Sub Page 2</a>
              <span class="icon-thumbnail">sp</span>
            </li>
            <li class="">
              <a href="#">Sub Page 3</a>
              <span class="icon-thumbnail">sp</span>
            </li>
          </ul>
        </li>-->
    </ul>
    <div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->