{{#extend "default"}} {{#content "main"}} {{> navHori type=activeLink}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">
            <h3 class="page-title">Danh sách hạn mức</h3>

        </div>
        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createHanMuc"><i class="pg-form"></i> Tạo mới Hạn mức
                </button>
            </div>
        </div>

        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary nav-tab" role="tablist" data-init-reponsive-tabs="collapse">
            <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Chưa duyệt</a>
            </li>
            <li><a href="#tabDaDuyet" data-toggle="tab" role="tab">Đã duyệt</a>
            </li>
            <li><a href="#tabTraVe" data-toggle="tab" role="tab">Trả về</a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="tabChuaDuyet">

                <div class="panel-body">

                    {{> formSearch type="normal"}}

                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <div class="btn-group">
                                <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o"></i>
                            Xuất
                            danh sách
                        </button>

                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa
                        </button>

                                <!-- <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                         </button>-->

                            </div>
                            <div class="pull-right m-b-10">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                                    <button type="button" class="btn btn-default"><i
                                    class="fa fa-chevron-right"></i>
                            </button>

                                </div>
                            </div>


                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox ">
                                                <input type="checkbox" value="3" id="checkbox1">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>

                                        </th>
                                        <th style="width: 10%">STT</th>
                                        <th style="width: 20%">Mã đối tác</th>
                                        <th style="width: 20%">Tên đối tác</th>
                                        <th style="width: 20%">Hạn mức tín dụng</th>

                                        <th style="width:30%">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input type="checkbox" value="3" id="checkbox2">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">
                                            12/03/2017
                                        </td>

                                        <td class="v-align-middle">
                                            17/03/2017
                                        </td>
                                        <td class="v-align-middle">
                                            Nguyễn Văn B
                                        </td>
                                        <td class="v-align-middle ">
                                            <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#modalListHanMuc">Chi tiết</a>
                                        </td>

                                        <td class="v-align-middle">

                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"><i class="fa fa-edit"></i> Duyệt
                                            yêu cầu
                                        </button>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Từ
                                            chối
                                        </button>
                                            </div>


                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                            {{>pagination}}
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tabDaDuyet">
                <div class="panel-body">
                    {{> formSearch type="normal"}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o"></i>
                            Xuất
                            danh sách
                        </button>

                        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa
                        </button>

                        <!--   <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                           </button>-->

                    </div>
                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i
                                    class="fa fa-chevron-right"></i>
                            </button>

                        </div>
                    </div>
                    <div class="tabler-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th style="width: 150px">STT</th>
                                    <th style="width: 150px">Mã đối tác</th>
                                    <th style="width: 150px">Tên đối tác</th>
                                    <th style="width: 300px">Hạn mức tín dụng</th>

                                    <th style=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle">
                                        12/03/2017
                                    </td>

                                    <td class="v-align-middle">
                                        17/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        Nguyễn Văn B
                                    </td>
                                    <td class="v-align-middle ">
                                        <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#modalListHanMuc">Chi tiết</a>
                                    </td>


                                    <td class="v-align-middle">

                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"><i class="fa fa-edit"></i> Duyệt
                                            yêu cầu
                                        </button>
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Từ
                                            chối
                                        </button>
                                        </div>


                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        {{>pagination}}
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="tabTraVe">
                <div class="panel-body">


                    {{> formSearch type="normal"}}

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"><i class="fa fa-file-excel-o"></i> Duyệt
                        </button>

                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalTuChoi"><i class="fa fa-trash-o"></i> Từ chối
                        </button>

                    </div>


                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i
                                    class="fa fa-chevron-right"></i>
                            </button>

                        </div>
                    </div>


                    <div class="tabler-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th style="width: 150px">STT</th>
                                    <th style="width: 150px">Mã đối tác</th>
                                    <th style="width: 150px">Tên đối tác</th>
                                    <th style="width: 300px">Hạn mức tín dụng</th>

                                    <th style=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle">
                                        12/03/2017
                                    </td>

                                    <td class="v-align-middle">
                                        17/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        Nguyễn Văn B
                                    </td>
                                    <td class="v-align-middle ">
                                        <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#modalListHanMuc">Chi tiết</a>
                                    </td>


                                    <td class="v-align-middle">

                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"><i class="fa fa-edit"></i> Duyệt
                                            yêu cầu
                                        </button>
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalTuChoi"><i class="fa fa-trash-o"></i> Từ
                                            chối
                                        </button>
                                        </div>


                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        {{>pagination}}
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}