{{#extend "default"}} {{#content "main"}} {{> navHori type=activeLink}}
<br>
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-8">

            <h3 class="page-title">Thông tin ID</h3>
        </div>
        <div class="col-sm-4">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createDoiTac"><i class="pg-form"></i> Tạo mới đối tác
                </button>
                <!--
                <button class="btn btn-default btn-cons m-b-10" type="button"><i class="fa fa-file-excel-o"></i> Xuất báo cáo
                </button>-->

            </div>
        </div>


    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>ID đối tác</label>

                            <input class="form-control" type="email">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tên đối tác</label>

                            <input class="form-control" type="email">
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="form-group ">
                            <button class="btn btn-primary btn-cons m-t-25 " type="button"> Truy vấn
                </button>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-content">
                    <div class="panel-body">
                        <div class="panel panel-heading">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Excel
                          </button>

                                <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                          </button>

                            </div>
                            <div class="pull-right m-b-10">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                        </button>
                                    <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox ">
                                                <input type="checkbox" value="3" id="checkbox1">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>

                                        </th>
                                        <th style="width: 15%">Ngày tạo</th>
                                        <th style="width: 15%">Mã đối tác</th>
                                        <th style="width: 25%">Tên đầy đủ</th>

                                        <th style="width: 15%">Số HĐ</th>

                                        <th style="width: 10%">Hợp đồng</th>
                                        <th style="width: 10%">Trạng thái</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input type="checkbox" value="3" id="checkbox2">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle ">
                                            04/03/2017
                                        </td>
                                        <td class="v-align-middle">
                                            12
                                        </td>
                                        <td class="v-align-middle">
                                            ABC
                                        </td>

                                        <td class="v-align-middle">
                                            245
                                        </td>

                                        <td class="v-align-middle text-center">
                                            <a href="doitac-truyvan-hopdonglienquan.html" class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-20">Xem</a>
                                        </td>
                                        <td class="v-align-middle text-center">
                                            <span class="label label-default">Chưa duyệt</span>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input type="checkbox" value="3" id="checkbox2">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle ">
                                            04/03/2017
                                        </td>
                                        <td class="v-align-middle">
                                            12
                                        </td>
                                        <td class="v-align-middle">
                                            ABC
                                        </td>

                                        <td class="v-align-middle">
                                            245
                                        </td>
                                        <td class="v-align-middle text-center">
                                            <a href="doitac-truyvan-hopdonglienquan.html" class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-20">Xem</a>
                                        </td>
                                        <td class="v-align-middle text-center">
                                            <span class="label label-default">Chưa duyệt</span>
                                        </td>


                                    </tr>
                                </tbody>
                            </table>


                            {{>pagination}}

                        </div>

                        <div class="clearfix"></div>


                    </div>


                    <!--sds-->

                </div>

            </div>

        </div>


    </div>
</div>




{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}