{{#extend "default"}} {{#content "main"}}

{{> navHori type=activeLink}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-12">

            <h3 class="page-title">File gưi OCB</h3>

        </div>

        

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label>ID đối tác ký hợp đồng với công ty</label>

                <input class="form-control" type="email">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>ID đối tác ký hợp đồng với OCB</label>

                <input class="form-control" type="email">
            </div>
        </div>
        
        <div class="col-md-3">
           <div class="form-group long">
            <label>THEO NGÀY</label>
            <div class="input-daterange input-group" id="datepicker-range">
                <input type="text" class="input form-control" name="start"/>
                <span class="input-group-addon">đến</span>
                <input type="text" class="input form-control" name="end"/>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">

            <button class="btn btn-primary btn-cons m-t-25" type="button"><!-- <i class="fa fa-search"> --></i> Truy vấn
            </button>         
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">

        <h6 class="bold text-uppercase m-t-20 text-center" >Liệt kê giao dịch đã chi theo đối tác OCB ký hợp đồng</h6>

        <div class="panel panel-default">
            <div class="panel-heading">
             <div class="btn-group">
                <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Xuất danh sách
                </button>
            </div>
            <div class="pull-right m-b-10">
                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                <div class="btn-group">
                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                    </button>

                </div>
            </div>


            <div class="clearfix"></div>
        </div>
        <div class="panel-body">

            <div class="tabler-responsive">



                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th style="width: 50px;padding: 10px 11px !important;">
                                <div class="checkbox ">
                                    <input value="3" id="checkbox1" type="checkbox">
                                    <label for="checkbox1" class="m-r-0"></label>
                                </div>

                            </th>
                            <th style="width: 10%">Ngày giao dịchD</th>
                            <th style="width: 10%">Mã chi nhánh/PGD</th>

                            <th style="width: 10%">Tên chi nhánhPGD</th>
                            <th style="width:10%">Tên GD</th>

                            <th style="width: 10%">Loại tiền thanh toán</th>

                            <th style="width: 10%">Loại tiền ghi</th>

                            <th style="width: 10%">Loại tiền chi</th>
                            <th style="width: 10%">Số tiền thanh toán</th>
                            <th style="width: 10%">Số tiền chi</th>
                            <th style="width: 10%">Tỷ giá</th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="v-align-middle">
                                <div class="checkbox ">
                                    <input value="3" id="checkbox2" type="checkbox">
                                    <label for="checkbox2" class="m-r-0"></label>
                                </div>
                            </td>
                            <td class="v-align-middle">

                            </td>



                            <td class="v-align-middle">


                            </td>
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">

                            </td>




                        </tr>




                    </tbody>
                </table>


                <nav aria-label="Page navigation" class="text-center">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true"> <i class="fa fa-angle-left"></i> </span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true"> <i class="fa fa-angle-right"></i> </span>
                </a>
            </li>
        </div>
    </div>
</div>

</div>


</div>
<div class="row">

        <div class="col-md-12">

            <h6 class="bold text-uppercase m-t-20 text-center">Liệt kê giao dịch đã chi theo đối tác công ty ký hợp đồng</h6>
           
            <div class="panel panel-default">
                <div class="panel-heading">
                 <div class="btn-group">
                    <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Xuất danh sách
                    </button>
                </div>
                <div class="pull-right m-b-10">
                    <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                        </button>

                    </div>
                </div>


                <div class="clearfix"></div>
            </div>
            <div class="panel-body">

                <div class="tabler-responsive">



                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th style="width: 50px;padding: 10px 11px !important;">
                                    <div class="checkbox ">
                                        <input value="3" id="checkbox1" type="checkbox">
                                        <label for="checkbox1" class="m-r-0"></label>
                                    </div>

                                </th>
                                <th style="width: 10%">Ngày giao dịchD</th>
                                <th style="width: 10%">Mã chi nhánh/PGD</th>

                                <th style="width: 10%">Tên chi nhánhPGD</th>
                                <th style="width:10%">Tên GD</th>

                                <th style="width: 10%">Loại tiền thanh toán</th>

                                <th style="width: 10%">Loại tiền ghi</th>

                                <th style="width: 10%">Loại tiền chi</th>
                                <th style="width: 10%">Số tiền thanh toán</th>
                                <th style="width: 10%">Số tiền chi</th>
                                <th style="width: 10%">Tỷ giá</th>
                                


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="v-align-middle">
                                    <div class="checkbox ">
                                        <input value="3" id="checkbox2" type="checkbox">
                                        <label for="checkbox2" class="m-r-0"></label>
                                    </div>
                                </td>
                                <td class="v-align-middle">
                                
                             </td>



                             <td class="v-align-middle">
                                

                            </td>
                            <td class="v-align-middle">
                              
                            </td>
                            <td class="v-align-middle">
                          
                         </td>
                         <td class="v-align-middle">
                               
                         </td>
                         <td class="v-align-middle">
                            
                         </td>
                         <td class="v-align-middle">
                          
                        </td>
                        <td class="v-align-middle">
                            
                         </td>
                         <td class="v-align-middle">
                           
                        </td>
                        <td class="v-align-middle">
                            
                         </td>
                        
                       
                        

                    </tr>




                </tbody>
            </table>


            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"> <i class="fa fa-angle-left"></i> </span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true"> <i class="fa fa-angle-right"></i> </span>
            </a>
        </li>
</ul></nav></div>
</div>
</div>

</div>


</div>

</div>


{{/content}} {{#content "script" mode="append"}}


{{/content}} {{/extend}}