{{#extend "default"}} {{#content "main"}} {{> navHori type=activeLink}}

<div class="container-fluid container-fixed-lg">

    <!-- MODAL STICK UP  -->

    <div class="panel panel-default">
        <div class="modal-header clearfix text-left">

            <h5>Tạo mới <span class="semi-bold">Đối tác</span></h5>
            <p>Các lưu ý cho nhân viên khi tạo mới đối tác</p>
        </div>
        <div class="modal-body">
            <form role="form">
                <h6 class=" m-t-20">Ngày : <b>30/04/2017</b></h6>
                <h6 class="bold text-uppercase">Đơn vị ký hợp đồng</h6>

                <div class="form-group-attached">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio radio-primary">
                                <input type="radio" value="yes" name="donViKy" id="donViKy-ocb">
                                <label for="donViKy-ocb">OCB</label>
                                <input type="radio" checked="checked" value="no" name="donViKy" id="donViKy-congty">
                                <label for="donViKy-congty">Công ty</label>
                            </div>
                        </div>
                    </div>

                </div>


                <h6 class="bold text-uppercase">Thông tin đối tác</h6>
                <div class="form-group-attached">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <label>Tên đầy đủ</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <label>Tên giao dịch</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <label>Tên người đại diện</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <label>Chức vụ</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <label>Mã số thuế</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="form-group form-group-default required select2-small">
                                <label>Trụ sở chính</label>

                                <select class="full-width " data-init-plugin="select2">
                                        <optgroup label="Châu Á">
                                            <option value="AK">Thái Lan</option>
                                            <option value="HI">Philippin</option>
                                        </optgroup>

                                        <optgroup label="Châu Âu">
                                            <option value="CA">Canada</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </optgroup>

                                        <optgroup label="Châu Úc">
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>

                                        </optgroup>

                                    </select>
                            </div>
                        </div>

                    </div>
                </div>

                <h6 class="bold text-uppercase m-t-20">Thông tin hợp đồng</h6>

                <div class="form-group-attached">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-group-default required">
                                <label>Số hợp đồng</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default  required">
                                <label>Tải lên hợp đồng</label>
                                <input type="file" class="form-control">
                            </div>
                        </div>


                        <div class="col-sm-3">


                            <div class="form-group form-group-default input-group col-sm-10">
                                <label>Ngày hiệu lực</label>
                                <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component">
                                <span class="input-group-addon">
<i class="fa fa-calendar"></i>
</span>
                            </div>


                        </div>

                        <div class="col-sm-3">


                            <div class="form-group form-group-default input-group col-sm-10">
                                <label>Ngày kết thúc</label>
                                <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                                <span class="input-group-addon">
<i class="fa fa-calendar"></i>
</span>
                            </div>


                        </div>
                    </div>

                </div>

                {{> loaitien}}

                <h6 class="bold text-uppercase m-t-20">Loại dịch vụ

                </h6>
                <div class="form-group-attached">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="checkbox check-primary">
                                <input type="checkbox" checked="checked" value="" id="po">
                                <label for="po"><b>PO</b></label>
                                <input type="checkbox" value="" id="pb">
                                <label for="pb"><b>PB</b></label>

                                <input type="checkbox" value="" id="pr">
                                <label for="pr"><b>PR</b></label>

                                <input type="checkbox" value="" id="hd">
                                <label for="hd"><b>HD</b></label>

                                <input type="checkbox" value="" id="ad">
                                <label for="ad"><b>AD</b></label>
                            </div>

                        </div>


                    </div>
                </div>
            </form>


            <div class="row">
                <div class="col-sm-4">
                    <!--<div class="p-t-20 clearfix p-l-10 p-r-10">
                            <div class="pull-left">
                                <p class="bold font-montserrat text-uppercase">TOTAL</p>
                            </div>
                            <div class="pull-right">
                                <p class="bold font-montserrat text-uppercase">$20.00</p>
                            </div>
                        </div>-->
                </div>
                <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                    <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary  m-t-5">Lưu & Yêu cầu duyệt</button>
                </div>
            </div>
        </div>

    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}