{{#extend "default"}} {{#content "main"}} {{> navHori type=activeLink}}
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">
            <h3 class="page-title">Quản lý danh sách đối tác</h3>
        </div>
        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createDoiTac"><i class="pg-form"></i> Tạo mới đối tác
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Chưa duyệt</a>
                    </li>

                    <li><a href="#tabDaDuyet" data-toggle="tab" role="tab">Đã duyệt</a>
                    </li>

                    <li><a href="#tabTraVe" data-toggle="tab" role="tab">Trả về</a>
                    </li>

                    <li><a href="#tabBoSung" data-toggle="tab" role="tab">Bổ sung hợp đồng</a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tabChuaDuyet">

                        {{> formSearch type="normal"}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel-heading">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Excel</button>

                                        <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i></button>

                                    </div>
                                    <div class="pull-right m-b-10">
                                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                        </button>
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                        </div>
                                    </div>
                                </div>
                                <div class=" table table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox1">
                                                        <label for="checkbox1" class="m-r-0"></label>
                                                    </div>

                                                </th>
                                                <th style="width: 15%">Ngày tạo</th>
                                                <th style="width: 15%">Mã đối tác</th>
                                                <th style="width: 25%">Tên đầy đủ</th>

                                                <th style="width: 15%">Số HĐ</th>

                                                <th style="width: 15%">Hợp đồng</th>
                                                <th style="width: 15%">Chi tiết</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    245
                                                </td>

                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-HopDong">Xem hợp đồng
                                                </a>
                                                </td>

                                                <td class="v-align-middle">
                                                    <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-chuaDuyet">Xem
                                                </a>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    245
                                                </td>
                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-HopDong">Xem hợp đồng
                                                </a>
                                                </td>
                                                <td class="v-align-middle">
                                                    <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-chuaDuyet">Xem
                                                </a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>


                                    {{>pagination}}

                                </div>

                                <div class="clearfix"></div>


                            </div>


                            <!--sds-->

                        </div>

                    </div>
                    <div class="tab-pane " id="tabTraVe">
                        {{> formSearch type="normal"}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pane panel-heading">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Excel</button>

                                        <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i></button>

                                    </div>

                                    <div class="pull-right m-b-10">
                                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                        </button>
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                        </div>
                                    </div>
                                </div>

                                <div class="table  table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox1">
                                                        <label for="checkbox1" class="m-r-0"></label>
                                                    </div>

                                                </th>
                                                <th style="width: 15%">Ngày tạo</th>
                                                <th style="width: 15%">Mã đối tác</th>
                                                <th style="width: 25%">Tên đầy đủ</th>

                                                <th style="width: 15%">Số HĐ</th>

                                                <th style="width: 15%">Hợp đồng</th>
                                                <th style="width: 15%">Chi tiết</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    245
                                                </td>

                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-HopDong">Xem hợp đồng
                                                </a>
                                                </td>
                                                <td class="v-align-middle">
                                                    <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-Trave">Xem</a>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    245
                                                </td>


                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-HopDong">Xem hợp đồng
                                                </a>
                                                </td>

                                                <td class="v-align-middle">
                                                    <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-Trave">Xem
                                                </a>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                    {{>pagination}}

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="tab-pane" id="tabDaDuyet">
                        {{> formSearch type="normal"}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel-heading">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Excel</button>

                                        <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i></button>

                                    </div>
                                    <div class="pull-right m-b-10">
                                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-left"></i>
                                        </button>
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                        </div>
                                    </div>

                                </div>

                                <div class="table table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox1">
                                                        <label for="checkbox1" class="m-r-0"></label>
                                                    </div>

                                                </th>
                                                <th style="width: 15%">Ngày tạo</th>
                                                <th style="width: 15%">Mã đối tác</th>
                                                <th style="width: 25%">Tên đầy đủ</th>

                                                <th style="width: 15%">Số HĐ</th>

                                                <th style="width: 15%">Hợp đồng</th>
                                                <th style="width: 15%">Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    245
                                                </td>

                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-HopDong">Xem hợp đồng
                                                </a>
                                                </td>
                                                <td class="v-align-middle">
                                                    <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-daDuyet">Xem
                                                </a>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    245
                                                </td>


                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-HopDong">Xem hợp đồng
                                                </a>
                                                </td>
                                                <td class="v-align-middle">
                                                    <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-daDuyet">Xem
                                                </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    {{>pagination}}

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="tabBoSung">
                        {{> formSearch type="normal"}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel-heading">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Excel</button>

                                        <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i></button>

                                    </div>
                                    <div class="pull-right m-b-10">
                                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-left"></i>
                                        </button>
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                        </div>
                                    </div>

                                </div>

                                <div class="table table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox1">
                                                        <label for="checkbox1" class="m-r-0"></label>
                                                    </div>

                                                </th>
                                                <th style="width: 15%">Ngày tạo</th>
                                                <th style="width: 15%">Mã đối tác</th>
                                                <th style="width: 20%">Tên đầy đủ</th>

                                                <th style="width: 10%">Số HĐ</th>

                                                <th style="width: 10%">Hợp đồng</th>
                                                <th style="width: 10%">Chi tiết</th>
                                                <th style="width: 15%">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    245
                                                </td>

                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-HopDong">Xem hợp đồng
                                                </a>
                                                </td>
                                                <td class="v-align-middle">
                                                    <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemChiTiet-DoiTac-chuaDuyet">Xem
                                                </a>
                                                </td>
                                                <td class="v-align-middle">
                                                    <a href class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#createHopDong">Bổ sung hợp đồng
                                                </a>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                    {{>pagination}}

                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>


</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}