{{#extend "default"}} {{#content "main"}} {{> navHori}}

<!--<div class="" data-pages="parallax">-->
<!--<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">-->
<!--<div class="inner">-->
<!--&lt;!&ndash; START BREADCRUMB &ndash;&gt;-->
<!--<ul class="breadcrumb">-->
<!--<li>-->
<!--<p>Pages</p>-->
<!--</li>-->
<!--<li><a href="#" class="active">Barebone template</a>-->
<!--</li>-->
<!--</ul>-->


<!--&lt;!&ndash; END BREADCRUMB &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">
                <a href="index.html" class="btn btn-tag  btn-tag-light m-r-20"> <i class="fa fa-chevron-left"></i> Quay lại</a> Hợp đồng đối tác</h3>

        </div>

        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createHopDong"><i class="pg-form"></i> Tạo mới hợp đồng
                </button>


            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">


                <div class="panel-body">

                    <h5 class="m-t-0">
                        Thông tin đối tác
                    </h5>

                    <div class="row static-info">
                        <div class="col-md-5 name"> ID đối tác: </div>
                        <div class="col-md-7 value"> 1231
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Tên giao dịch: </div>
                        <div class="col-md-7 value"> ABC
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Số hợp đồng: </div>
                        <div class="col-md-7 value"> 234
                        </div>
                    </div>

                </div>




            </div>


        </div>


        <div class="col-md-6">

            <div class="panel panel-default">


                <div class="panel-body">


                    <h5 class="m-t-0">
                        Ngày hiệu lực
                    </h5>


                    <div class="row static-info">
                        <div class="col-md-5 name"> Ngày hiệu lực hợp đồng : </div>
                        <div class="col-md-7 value"> 12/06/2017
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name"> Ngày hết hiệu lực hợp đồng: </div>
                        <div class="col-md-7 value"> 12/12/2017
                        </div>
                    </div>

                </div>




            </div>


        </div>

    </div>

    <!--<div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">


                <div class="panel-body">

                    <h5 class="m-t-0">
                        Tạo mới hợp đồng
                    </h5>

                    <div class="row">

                        <div class="form-group col-sm-6 col-md-3">
                            <label>Tải lên hợp đồng</label>
                            <span class="help"> (file excel hoặc pdf)</span>
                            <input type="file" class="form-control">
                        </div>


                        <div class="form-group  col-sm-6 col-md-3">
                            <label>Ngày ký hợp đồng</label>

                            <div class="input-group date">
                                <input type="text" class="form-control" placeholder="Chọn ngày" id="datepicker-component3">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                        <div class="form-group col-sm-4 col-md-3">
                            <label>Loại hợp đồng</label>
                            <div class="radio radio-primary">
                                <input type="radio" value="yes" name="typeHopDong" id="typeHopdong-hopdong">
                                <label for="typeHopdong-hopdong">Hợp đồng</label>
                                <input type="radio" checked="checked" value="no" name="typeHopDong" id="typeHopdong-phuluc">
                                <label for="typeHopdong-phuluc">Phụ lục</label>
                            </div>



                        </div>

                        <div class="col-sm-6 col-md-3">

                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-cloud-upload"></i> <span class="bold">Tạo mới</span>
</button>
                        </div>








                    </div>





                </div>

            </div>
        </div>
    </div>-->



    <div class="row">

        <div class="col-md-12">

           {{> formSearch}}


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Xuất danh sách
                          </button>

                        <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Xóa
                          </button>

                        <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                          </button>

                    </div>




                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                          </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                          </button>

                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    <div class="tabler-responsive">



                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th style="width: 60px">ID</th>
                                    <th style="width: 100px">Mã hợp đồng</th>
                                    <th style="width: 150px">Ngày ký hợp đồng</th>
                                    <th>File</th>
                                    <th style="width: 150px">Loại</th>

                                    <th style="width: 160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle ">
                                        1
                                    </td>

                                    <td class="v-align-middle">
                                        125
                                    </td>
                                    <td class="v-align-middle">
                                        12/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        hop-dong-so-1.jpg
                                    </td>

                                    <td class="v-align-middle">
                                        Hợp đồng

                                    </td>

                                    <td class="v-align-middle">

                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createHopDong"> <i class="fa fa-edit"></i> Sửa</button>
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createHopDong"><i class="fa fa-trash-o"></i> Xóa</button>
                                        </div>



                                    </td>
                                </tr>

                            </tbody>
                        </table>


                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true"> <i class="fa fa-angle-left"></i> </span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true"> <i class="fa fa-angle-right"></i> </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>


                    </div>
                </div>
            </div>

        </div>




    </div>

</div>


{{> modal}} {{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}