{{#extend "default"}} {{#content "main"}}

{{> navHori type=activeLink}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-12">

            <h3 class="page-title">Truy vấn các giao dịch đã chi</h3>

        </div>

        

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label>ID đối tác</label>

                <input class="form-control" type="email">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Tên đối tác</label>

                <input class="form-control" type="email">
            </div>
        </div>
        <div class="col-md-3">
         <div class="form-group long">
            <label>THEO NGÀY</label>
            <div class="input-daterange input-group" id="datepicker-range">
                <input type="text" class="input form-control" name="start"/>
                <span class="input-group-addon">đến</span>
                <input type="text" class="input form-control" name="end"/>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">

            <button class="btn btn-primary btn-cons m-t-25" type="button"><!-- <i class="fa fa-search"> --></i> Truy vấn
            </button>         
        </div>
    </div>




</div>

<div class="row">

    <div class="col-md-12">

        
        <div class="panel panel-default">
        <div class="panel-body">
                   
                   
                    <div class="row static-info">
                        <div class="col-md-2 name"> ID đối tác: </div>
                        <div class="col-md-10 value"> 1231
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 name"> Tên đối tác: </div>
                        <div class="col-md-10 value"> ABC
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 name"> Ngày: </div>
                        <div class="col-md-10 value"> 30/4/2015
                        </div>
                        <div class="col-md-2 name"> đến ngày: </div>
                        <div class="col-md-10 value"> 30/4/2015
                        </div>
                    </div>

               </div>
            <div class="panel-heading">
               <div class="btn-group">
                <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Xuất danh sách
                </button>
            </div>
           


            <div class="clearfix"></div>
        </div>
       


</div>
</div>
</div>

</div>


</div>

</div>


{{/content}} {{#content "script" mode="append"}}


{{/content}} {{/extend}}