{{#extend "default"}} {{#content "main"}} {{> navHori}}

<!--<div class="" data-pages="parallax">-->
<!--<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">-->
<!--<div class="inner">-->
<!--&lt;!&ndash; START BREADCRUMB &ndash;&gt;-->
<!--<ul class="breadcrumb">-->
<!--<li>-->
<!--<p>Pages</p>-->
<!--</li>-->
<!--<li><a href="#" class="active">Barebone template</a>-->
<!--</li>-->
<!--</ul>-->


<!--&lt;!&ndash; END BREADCRUMB &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Danh sách giao dịch tiền về</h3>

        </div>

        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createGiaoDichTienVe"><i class="pg-form"></i> Tạo mới Giao dịch tiền về
                </button>


            </div>
        </div>

    </div>



    <div class="row">

        <div class="col-md-12">

         {{> formSearch}}


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Xuất danh sách
                          </button>

                        <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Xóa
                          </button>

                        <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                          </button>

                    </div>




                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                          </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                          </button>

                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    <div class="tabler-responsive">



                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th style="width: 150px">Ngày </th>

                                    <th style="width: 100px">ID đối tác</th>
                                    <th style="width: 150px">Tên đối tác</th>
                                    <th style="width: 200px">Hình thức chuyển tiền</th>


                                    <th>Loại tiền chuyển đến</th>


                                    <th style="width: 200px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle">
                                        12/03/2017
                                    </td>
                                    <td class="v-align-middle ">
                                        15
                                    </td>

                                    <td class="v-align-middle">
                                        Company 1
                                    </td>

                                    <td class="v-align-middle">
                                        Hoán đổi tiền tệ
                                    </td>

                                    <td class="v-align-middle">
                                        <span class="label label-default">USD</span>
                                        <span class="label label-default">EUR</span>
                                        <span class="label label-default">CAN</span>

                                    </td>

                                    <td class="v-align-middle">

                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createGiaoDichTienVe2"> <i class="fa fa-edit"></i> Xem</button>
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa</button>
                                        </div>



                                    </td>
                                </tr>


                                <tr >
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle">
                                        12/03/2017
                                    </td>
                                    <td class="v-align-middle ">
                                        15
                                    </td>

                                    <td class="v-align-middle">
                                        Company 1
                                    </td>

                                    <td class="v-align-middle">
                                        Trực tiếp
                                    </td>

                                    <td class="v-align-middle">
                                        <span class="label label-default">USD</span>
                                        <span class="label label-default">EUR</span>
                                        <span class="label label-default">CAN</span>

                                    </td>

                                    <td class="v-align-middle">

                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createGiaoDichTienVe"> <i class="fa fa-edit"></i> Xem</button>
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa</button>
                                        </div>



                                    </td>
                                </tr>

                            </tbody>
                        </table>


                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true"> <i class="fa fa-angle-left"></i> </span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true"> <i class="fa fa-angle-right"></i> </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>


                    </div>
                </div>
            </div>

        </div>




    </div>

</div>


{{> modal}} {{/content}} {{#content "script" mode="append"}}




{{/content}} {{/extend}}