{{#extend "default"}} {{#content "main"}}

{{> navHori}}

<!--<div class="" data-pages="parallax">-->
<!--<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">-->
<!--<div class="inner">-->
<!--&lt;!&ndash; START BREADCRUMB &ndash;&gt;-->
<!--<ul class="breadcrumb">-->
<!--<li>-->
<!--<p>Pages</p>-->
<!--</li>-->
<!--<li><a href="#" class="active">Barebone template</a>-->
<!--</li>-->
<!--</ul>-->


<!--&lt;!&ndash; END BREADCRUMB &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title"> <a href="index.html" class="btn btn-tag  btn-tag-light m-r-20"> <i class="fa fa-chevron-left"></i> Quay lại</a>  Danh sách đối tác chờ duyệt</h3>

        </div>

        <!--<div class="col-sm-5">
            <div class="text-right">

                <a href="index.html" class="btn btn-info  btn-cons m-b-10"><i class="fa fa-list-alt"></i> Danh sách đối tác 
                </a>

            </div>
        </div>-->

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <!--<div class="panel-heading">-->
                <!--<div class="panel-title">-->
                <!--Option #two-->
                <!--</div>-->
                <!--</div>-->
                <div class="panel-body">
                    <h5 class="m-t-0">
                        Tìm kiếm
                    </h5>
                    <form role="form" lpformnum="2" class="form-filter">
                        <div class="form-group">
                            <label>Từ khóa</label>
                            <span class="help">e.g. </span>
                            <input type="email" class="form-control">
                        </div>
                        <!--<div class="form-group">
                            <label>Thuộc danh mục</label>

                            <select class="full-width" data-init-plugin="select2">
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                                </optgroup>
                                <optgroup label="Pacific Time Zone">
                                <option value="CA">California</option>
                                <option value="NV">Nevada</option>
                                <option value="OR">Oregon</option>
                                <option value="WA">Washington</option>
                                </optgroup>
                                <optgroup label="Mountain Time Zone">
                                <option value="AZ">Arizona</option>
                                <option value="CO">Colorado</option>
                              
                                </optgroup>
                              
                                </select>
                        </div>-->
                        <div class="form-group long">
                            <label>THEO NGÀY</label>
                            <div class="input-daterange input-group" id="datepicker-range">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon">đến</span>
                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label>Disabled</label>-->
                        <!--<span class="help">e.g. </span>-->
                        <!--<input type="email" class="form-control" value="You can put anything here" disabled="">-->
                        <!--</div>-->

                        <div class="form-group">

                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
                            </button>

                        </div>
                    </form>



                </div>




            </div>









            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Duyệt
                          </button>

                        <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#modalTuChoi"><i class="fa fa-trash-o"></i> Từ chối
                          </button>

               
                    </div>




                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                          </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                          </button>

                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    <div class="tabler-responsive">



                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th>Mã đối tác</th>
                                    <th>Tên đầy đủ</th>
                                    <th>Đơn vị ký HĐ</th>
                                    <th>Số HĐ</th>
                                    <th>Ngày HL</th>
                                    <th>Ngày hết HL</th>
                                    <th>Loại tiền thanh toán</th>
                                    <th>Số tiền chuyển trước</th>
                                    <th>Loại tiền giao dịch</th>
                                    <th>Loại tiền chi</th>
                                    <th>Loại dịch vụ</th>

                                    <th>Hợp đồng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td>NA</td>
                                    <td class="v-align-middle ">
                                        04/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        12
                                    </td>
                                    <td class="v-align-middle">
                                        ABC
                                    </td>
                                    <td class="v-align-middle">
                                        Công ty
                                    </td>
                                    <td class="v-align-middle">
                                        245
                                    </td>
                                    <td class="v-align-middle">
                                        12/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        25/06/2017
                                    </td>
                                    <td class="v-align-middle">
                                        <span class="label label-default">USD</span>
                                        <span class="label label-primary">VND</span>

                                    </td>
                                    <td class="v-align-middle">
                                        30.000
                                    </td>
                                    <td class="v-align-middle">
                                        VND
                                    </td>
                                    <td class="v-align-middle">
                                        CAD
                                    </td>
                                    <td class="v-align-middle">
                                        PO, PR
                                    </td>
                                    <td class="v-align-middle text-center">
                                        <a href="doitac-hopdong.html" class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-20">Xem</a>
                                    </td>
                                 
                                </tr>

                            </tbody>
                        </table>


                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true"> <i class="fa fa-angle-left"></i> </span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true"> <i class="fa fa-angle-right"></i> </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>


                    </div>
                </div>
            </div>

        </div>




    </div>

</div>

{{> modal}}

{{/content}} {{#content "script" mode="append"}}




{{/content}} {{/extend}}