{{#extend "default"}} {{#content "main"}}

<br>

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-12">

            <h3 class="page-title">{{title}}</h3>

        </div>



    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-8">

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5">Mã loại tiền </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">

                                </div>
                            </div>




                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5">Quốc gia </div>
                                <div class="col-md-8 value">
                                    <select class="form-control">
                                                    <option value="">Việt Nam</option>
                                                    <option value="">Trung quốc</option>
                                                    <option value="">Lào</option>
                                                </select>
                                </div>

                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5"></div>
                                <div class="col-md-8 value">
                                    <div class="checkbox check-primary">
                                        <input type="checkbox" checked="checked" value="" id="po">
                                        <label for="po"><b>Hiệu lực</b></label>

                                    </div>
                                </div>

                            </div>



                            <div class="col-sm-8 m-t-10 sm-m-t-10 col-sm-offset-4 text-right">
                                <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary  m-t-5">Lưu</button>
                            </div>



                        </div>




                        <div class="col-sm-12">
                            <hr>

                            <h5>Danh sách loại tiền hệ thống hỗ trợ</h5>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="panel panel-heading">
                                        <div class="pull-right m-b-10">
                                            <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                        </button>
                                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                                        </button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>

                                                    <th style="width:20%">STT </th>
                                                    <th style="width:20%">Loại tiền</th>
                                                    <th style="width:20%">Quốc gia</th>
                                                    <th style="width:20%">Hiệu lực</th>
                                                    <th style="width:20%">Hành động</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td class="v-align-middle ">
                                                        1
                                                    </td>
                                                    <td class="v-align-middle">
                                                        AUD
                                                    </td>
                                                    <td class="v-align-middle">
                                                        UC
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <div class="checkbox ">
                                                            <input type="checkbox" value="34" id="checkbox21">
                                                            <label for="checkbox2" class="m-r-0"></label>
                                                        </div>
                                                    </td>
                                                    <td class="v-align-middle">

                                                        <div class="btn-group btn-group-sm">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#"><i class="fa fa-edit"></i> Chỉnh sửa
                                        </button>


                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td class="v-align-middle ">
                                                        2
                                                    </td>
                                                    <td class="v-align-middle">
                                                        USD
                                                    </td>
                                                    <td class="v-align-middle">
                                                        Mỹ
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <div class="checkbox ">
                                                            <input type="checkbox" value="33" id="checkbox212">
                                                            <label for="checkbox2" class="m-r-0"></label>
                                                        </div>
                                                    </td>
                                                    <td class="v-align-middle">

                                                        <div class="btn-group btn-group-sm">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#"><i class="fa fa-edit"></i> Chỉnh sửa
                                        </button>


                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td class="v-align-middle ">
                                                        3
                                                    </td>
                                                    <td class="v-align-middle">
                                                        VND
                                                    </td>
                                                    <td class="v-align-middle">
                                                        Việt Nam
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <div class="checkbox ">
                                                            <input type="checkbox" value="32" id="checkbox">
                                                            <label for="checkbox2" class="m-r-0"></label>
                                                        </div>
                                                    </td>
                                                    <td class="v-align-middle">

                                                        <div class="btn-group btn-group-sm">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#"><i class="fa fa-edit"></i> Chỉnh sửa
                                        </button>

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td class="v-align-middle ">
                                                        4
                                                    </td>
                                                    <td class="v-align-middle">
                                                        CAD
                                                    </td>
                                                    <td class="v-align-middle">

                                                    </td>
                                                    <td class="v-align-middle">
                                                        <div class="checkbox ">
                                                            <input type="checkbox" value="31" id="checkbox211">
                                                            <label for="checkbox2" class="m-r-0"></label>
                                                        </div>
                                                    </td>
                                                    <td class="v-align-middle">

                                                        <div class="btn-group btn-group-sm">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#"><i class="fa fa-edit"></i> Chỉnh sửa
                                        </button>


                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{>pagination}}

                                    </div>

                                </div>
                            </div>

                        </div>



                    </div>


                </div>

            </div>


        </div>





    </div>

</div>

</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}