{{#extend "default"}} {{#content "main"}}


<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li class="active">
                <a href="javascript:;">
                    <span class="">Quản lý hóa đơn </span>
                </a>
            </li>

            <li>
                <a href="javascript:;">
                    <span class="">Quản lý chứng từ </span>
                </a>
            </li>

        </ul>
    </div>
</div>

<!--<div class="" data-pages="parallax">-->
<!--<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">-->
<!--<div class="inner">-->
<!--&lt;!&ndash; START BREADCRUMB &ndash;&gt;-->
<!--<ul class="breadcrumb">-->
<!--<li>-->
<!--<p>Pages</p>-->
<!--</li>-->
<!--<li><a href="#" class="active">Barebone template</a>-->
<!--</li>-->
<!--</ul>-->


<!--&lt;!&ndash; END BREADCRUMB &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Quản lý hóa đơn</h3>

        </div>

        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-primary btn-cons m-b-10" type="button"><i class="pg-form"></i> Tạo mới
                </button>


                <button class="btn btn-default btn-cons m-b-10" type="button"><i class="fa fa-file-excel-o"></i> Xuất báo cáo
                </button>

            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <!--<div class="panel-heading">-->
                <!--<div class="panel-title">-->
                <!--Option #two-->
                <!--</div>-->
                <!--</div>-->
                <div class="panel-body">
                    <h5>
                        Tìm kiếm
                    </h5>
                    <form role="form" lpformnum="2" class="form-filter">
                        <div class="form-group">
                            <label>Từ khóa</label>
                            <span class="help">e.g. </span>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Thuộc danh mục</label>
                            <span class="help">e.g. "Mona "</span>

                            <select class="full-width" data-init-plugin="select2">
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                                </optgroup>
                                <optgroup label="Pacific Time Zone">
                                <option value="CA">California</option>
                                <option value="NV">Nevada</option>
                                <option value="OR">Oregon</option>
                                <option value="WA">Washington</option>
                                </optgroup>
                                <optgroup label="Mountain Time Zone">
                                <option value="AZ">Arizona</option>
                                <option value="CO">Colorado</option>
                                <option value="ID">Idaho</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NM">New Mexico</option>
                                <option value="ND">North Dakota</option>
                                <option value="UT">Utah</option>
                                <option value="WY">Wyoming</option>
                                </optgroup>
                              
                                </select>
                        </div>
                        <div class="form-group long">
                            <label>THEO NGÀY</label>
                            <span class="help">e.g. "some"</span>
                            <div class="input-daterange input-group" id="datepicker-range">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon">đến</span>
                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                        </div>
                     
                        <!--<div class="form-group">-->
                        <!--<label>Disabled</label>-->
                        <!--<span class="help">e.g. </span>-->
                        <!--<input type="email" class="form-control" value="You can put anything here" disabled="">-->
                        <!--</div>-->

                        <div class="form-group">

                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
                            </button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>



{{/content}} 

{{#content "script" mode="append"}}


<script>
      $('#datepicker-range').datepicker();
</script>

{{/content}}

{{/extend}}