{{#extend "default"}} {{#content "main"}}


<div class="bar">
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li>
                <a href="javascript:;">
 <span class="">Quản lý hóa đơn </span>
</a>
            </li>

             <li>
                <a href="javascript:;">
 <span class="">Quản lý chứng từ </span>
</a>
            </li>
            
        </ul>
    </div>
</div>

<div class="" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li>
                    <p>Pages</p>
                </li>
                <li><a href="#" class="active">Barebone template</a>
                </li>
            </ul>


            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
</div>

{{/content}} {{/extend}}