{{#extend "default"}} {{#content "main"}}
<br>
<!--DUYỆT DANH SÁCH ĐỐI TƯỢNG CẢNH BÁO-->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>
    </div>

    <div class="row">


            <div class="panel panel-default">

                <div class="panel-body">

                    {{>formSearch type="pcrt-2"}}
                    <div class="col-md-12">
                        <div class="pull-right m-b-10">
                            <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                                </button>

                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr><th>STT</th>
                                <th>MÃ ĐỐI TƯỢNG </th>
                                <th>HỌ TÊN</th>
                                <th>SỐ GIẤY TỜ</th>
                                <th>ĐỊA CHỈ</th>
                                <th>ĐIỆN THOẠI</th>
                                <th>DẤU HIỆU ĐÁNG NGỜ</th>
                                <th>LOẠI TIÊU CHÍ</th>
                                <th>HIỆU LỰC</th>

                            </tr>
                            </thead>
                            <tbody>


                            <tr><td class="v-align-middle">1</td>
                                <td class="v-align-middle">0001</td>
                                <td class="v-align-middle">Nguyen Van A</td>
                                <td class="v-align-middle">240813112</td>
                                <td class="v-align-middle">CMND</td>
                                <td class="v-align-middle">Tan Binh </td>
                                <td class="v-align-middle"> Dau hieu dang ngo 1</td>
                                <td class="v-align-middle">Nghi ngờ</td>
                                <td class="v-align-middle">Còn hiệu lực</td>
                            </tr>




                            <tr><td class="v-align-middle">2</td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                            </tr>
                            <tr><td class="v-align-middle">3</td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                                <td class="v-align-middle"></td>
                            </tr>

                            </tbody>
                        </table>



                        {{>pagination}}


                </div>
            </div>

        </div>




    </div>

</div>




{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}