{{#extend "default"}} {{#content "main"}}
<br>

<!--Truy vấn công văn-->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Danh sách duyệt cảnh báo</h3>

        </div>


    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" lpformnum="2" class="form-filter">
                        <div class="form-group">
                            <label>Mã đối tượng</label>
                            <input type="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Hiệu lực</label>
                            <select class="form-control">
                                <option value="">Còn hiệu lực</option>
                                <option value="">Hết hiệu lực</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Dấu hiệu đáng ngờ</label>
                            <select class="form-control">
                                <option value="">dấu hiệu 1</option>
                                <option value="">dấu hiệu 2</option>
                            </select>

                        </div>

                        <div class="form-group">

                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
        </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-content">
                    <div class="panel-body">
                        <div class="panel panel-heading">
                            <div class="pull-right m-b-10">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                                    <button type="button" class="btn btn-default"><i
                                class="fa fa-chevron-right"></i>
                            </button>

                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 10%">STT</th>
                                        <th style="width: 10%">Mã đối tượng </th>
                                        <th style="width: 10%">Họ tên</th>
                                        <th style="width: 10%">Số giấy tờ</th>
                                        <th style="width: 10%">Địa chỉ</th>
                                        <th style="width: 10%">Điện thoại</th>
                                        <th style="width: 10%">Dấu hiệu đáng ngờ</th>
                                        <th style="width: 10%">Loại tiêu chí</th>
                                        <th style="width: 10%">Hiệu lực</th>
                                        <th style="width: 10%">Hành động</th>

                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>
                                        <td class="v-align-middle">1</td>
                                        <td class="v-align-middle">0001</td>
                                        <td class="v-align-middle">Nguyen Van A</td>
                                        <td class="v-align-middle">240813112</td>
                                        <td class="v-align-middle">CMND</td>
                                        <td class="v-align-middle">Tan Binh </td>
                                        <td class="v-align-middle"> Dau hieu dang ngo 1</td>
                                        <td class="v-align-middle">Nghi ngờ</td>
                                        <td class="v-align-middle">Còn hiệu lực</td>
                                        <td class="v-align-middle">
                                            <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#xemdanhmuccongvanDoiTuongCanhBao">Xem
                                  </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{>pagination}}

                    </div>
                </div>

            </div>

        </div>


    </div>


</div>


{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}