{{#extend "default"}} {{#content "main"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>

        <!--<div class="col-sm-5">
            <div class="text-right">


                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createDoiTac"><i class="pg-form"></i> Tạo mới đối tác
                </button>

            </div>
        </div>-->

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default ">

                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist"
                    data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Chưa duyệt</a>
                    </li>
                    <!--<li><a href="#tabDaDuyet" data-toggle="tab" role="tab">Đã duyệt</a>
                    </li>-->

                    <li><a href="#tabTraVe" data-toggle="tab" role="tab">Trả về</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabChuaDuyet">
                        <div class="panel-body">

                            {{>formSearch type="pcrt-1"}}

                            <div class="pull-right m-b-10">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                                    </button>

                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã tiêu chí</th>
                                    <th> Dấu hiệu đáng ngờ</th>
                                    <th> Nội dung</th>
                                    <th> Loại tiêu chí</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="v-align-middle">1</td>
                                    <td class="v-align-middle"> 001</td>
                                    <td class="v-align-middle">nhan tien phan dong</td>
                                    <td class="v-align-middle"> cong van lanh dao ngan hang</td>
                                    <td class="v-align-middle"> huy chi</td>
                                </tr>
                                </tbody>
                            </table>


                            {{>pagination}}


                        </div>

                    </div>
                    <div class="tab-pane " id="tabDaDuyet">

                        <div class="panel-body">

                            {{>formSearch type="pcrt-1"}}


                            <table class="table">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã tiêu chí</th>
                                    <th> Dấu hiệu đáng ngờ</th>
                                    <th> Nội dung</th>
                                    <th> Loại tiêu chí</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="v-align-middle">1</td>
                                    <td class="v-align-middle"> 001</td>
                                    <td class="v-align-middle">nhan tien phan dong</td>
                                    <td class="v-align-middle"> cong van lanh dao ngan hang</td>
                                    <td class="v-align-middle"> huy chi</td>
                                </tr>


                                </tbody>
                            </table>


                            {{>pagination}}


                        </div>

                    </div>

                    <div class="tab-pane " id="tabTraVe">

                        <div class="panel-body">

                            {{>formSearch type="pcrt-1"}}


                            <table class="table">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã tiêu chí</th>
                                    <th> Dấu hiệu đáng ngờ</th>
                                    <th> Nội dung</th>
                                    <th> Loại tiêu chí</th>
                                    <th>Lý do </th>
                                    <th>Hành động</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="v-align-middle">1</td>
                                    <td class="v-align-middle"> 001</td>
                                    <td class="v-align-middle">nhan tien phan dong</td>
                                    <td class="v-align-middle"> cong van lanh dao ngan hang</td>
                                    <td class="v-align-middle"> huy chi</td>
                                    <td class="v-align-middle">Lý do 1</td>
                                    <td class="v-align-middle">

                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#addHoaHong"><i class="fa fa-edit"></i> Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa
                                            </button>
                                        </div>

                                    </td>
                                </tr>


                                </tbody>
                            </table>


                            {{>pagination}}


                        </div>

                    </div>
                </div>


            </div>

        </div>


    </div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}