{{#extend "default"}} {{#content "main"}}
<br>


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Công văn</h3>

        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" lpformnum="4" class="form-filter">
                        <div class="form-group">
                            <label>Số công văn</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Hiệu lực</label>
                            <select class="form-control">
            <option value="">Còn hiệu lực</option>
            <option value="">Hết hiệu lực</option>
        </select>

                        </div>


                        <div class="form-group">

                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Truy vấn
        </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h5>Danh sách <span class="semi-bold">công văn chưa xem</span></h5>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-content">
                    <div class="panel-body">
                        <div class="panel panel-heading">
                            <div class="btn-group">

                                <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Excel
                          </button>

                                <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                                </button>
                            </div>
                            <div class="pull-right m-b-10">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                            </button>
                                </div>
                            </div>
                        </div>
                        <div class="table table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </th>
                                        <th style="width: 25%">STT</th>
                                        <th style="width: 25%">Số công văn </th>
                                        <th style="width: 25%">Hiệu lực</th>
                                        <th style="width: 25%">Chi tiết</th>


                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>

                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>

                                        <td class="v-align-middle">1</td>
                                        <td class="v-align-middle">abc</td>
                                        <td class="v-align-middle">Còn hiệu lực</td>

                                        <td class="v-align-middle">

                                            <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#chitietTruyVanCongVan">Xem
                                  </a>


                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            {{>pagination}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5>Danh sách <span class="semi-bold">công văn đã xem</span></h5>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-content">
                    <div class="panel-body">
                        <div class="panel panel-heading">
                            <div class="btn-group">

                                <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Excel
                          </button>

                                <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                                </button>
                            </div>
                            <div class="pull-right m-b-10">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                            </button>
                                </div>
                            </div>
                        </div>
                        <div class="table table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </th>
                                        <th style="width: 25%">STT</th>
                                        <th style="width: 25%">Số công văn </th>
                                        <th style="width: 25%">Hiệu lực</th>
                                        <th style="width: 25%">Chi tiết</th>


                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>

                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>

                                        <td class="v-align-middle">1</td>
                                        <td class="v-align-middle">abc</td>
                                        <td class="v-align-middle">Còn hiệu lực</td>

                                        <td class="v-align-middle">

                                            <a href="" class="btn btn-tag   btn-tag-light btn-tag-rounded " data-toggle="modal" data-target="#chitietTruyVanCongVan">Xem
                                  </a>


                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            {{>pagination}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}