{{#extend "default"}} {{#content "main"}} {{> navHori type=activeLink}}


<div class="container-fluid container-fixed-lg">
    <div class="panel panel-default">
    <div class="panel panel-heading">
   <div class="modal-header clearfix text-left">
            
                <h5>Tạo mới <span class="semi-bold">Đối tượng cảnh báo</span></h5>
                <p>Các lưu ý cho nhân viên khi tạo mới đối tác</p>
            </div>
            <div class="modal-body">
                <form role="form">

                    <h6 class=" m-t-20">Mã đối tượng : <b>0001</b></h6>

                    <div class="form-group form-group-attached">
                        <label>Dấu hiệu đáng ngờ</label>
                        <select class="form-control">
                            <option value="">Dấu hiệu đáng ngờ 1</option>
                            <option value="">Dấu hiệu đáng ngờ 2</option>
                            <option value="">Dấu hiệu đáng ngờ 3</option>
                        </select>

                    </div>

                    <div class="form-group form-group-attached">
                        <label>Loại tiêu chí</label>
                        <input type="text" class="form-control">

                    </div>


                    <h6 class="bold text-uppercase">Đối tượng</h6>
                    <div class="form-group-attached">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Họ tên</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-group-default input-group col-sm-10">
                                    <label>Ngày tháng năm sinh</label>
                                    <input type="email" class="form-control" placeholder="Pick a date"
                                           id="datepicker-component">
                                    <span class="input-group-addon">
    <i class="fa fa-calendar"></i>
    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group-attached">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Địa chỉ</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Số tài khoản</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Điện thoại</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="form-group-attached">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Số giấy tờ</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Loại giấy tờ</label>
                                    <select class="form-control">
                                        <option value="">Chứng minh nhân dân</option>
                                        <option value="">Thẻ căn cước</option>
                                        <option value="">Hộ chiếu</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group form-group-default input-group col-sm-10">
                                    <label>Ngày cấp</label>
                                    <input type="email" class="form-control" placeholder="Pick a date"
                                           id="datepicker-component2">
                                    <span class="input-group-addon">
    <i class="fa fa-calendar"></i>
    </span>
                                </div>

                            </div>


                        </div>

                    </div>

                    <div class="form-group-attached">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Số công văn</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Đơn vị yêu cầu</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group form-group-default required">
                                    <label>Hiệu lực</label>
                                    <select class="form-control">
                                        <option value="">Còn hiệu lực</option>
                                        <option value="">Hết hiệu lực</option>
                                    </select>
                                </div>
                            </div>


                        </div>


                    </div>


                </form>


            </div>

                <div class="row">
                    <div class="col-sm-4">
                        <!--<div class="p-t-20 clearfix p-l-10 p-r-10">
                            <div class="pull-left">
                                <p class="bold font-montserrat text-uppercase">TOTAL</p>
                            </div>
                            <div class="pull-right">
                                <p class="bold font-montserrat text-uppercase">$20.00</p>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary  m-t-5">Lưu & yêu cầu duyệt</button>
                    </div>
                </div>           
        </div>
    </div>
</div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}