{{#extend "default"}} {{#content "main"}}
<br>

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>



    </div>

    <div class="row">

        <div class="col-md-6 ">


            <div class="panel panel-default">

                <div class="panel-body">
                    <h5 class="m-t-0">
                        Thông tin báo cáo
                    </h5>

                    <form role="form">
                        <div class="form-group">
                            <label>Loại báo cáo</label>
                            <select name="" class="form-control" id="">
                                <option value="">Giao dịch đáng ngờ</option>
                                <option value="">Giao dịch nhận biết</option>
                                <option value="">Giao dịch có giá trị lớn</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>THEO NGÀY</label>
                            <div class="input-daterange input-group" id="datepicker-range">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon">đến</span>
                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                        </div>
                        <div class="form-group">

                            <label>Chọn định dạng xuất file</label>


                            <div class="radio radio-primary">
                                <input type="radio" value="yes" name="filetype" id="filetype-excel">
                                <label for="filetype-excel">EXCEL</label>
                                <input type="radio" checked="checked" value="no" name="filetype" id="filetype-pdf">
                                <label for="filetype-pdf">PDF</label>
                            </div>
                        </div>

                        <div class="form-group">

                            <button class="btn btn-primary btn-large btn-cons m-t-25" type="button"><i class="fa fa-download"></i> Xuất báo cáo
                            </button>

                        </div>

                    </form>



                </div>




            </div>


        </div>




    </div>

</div>

 {{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}