{{#extend "default"}} {{#content "main"}}

<br>
<!--Danh sách công văn-->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Tạo mới mức giá trị giao dịch</h3>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-center ">
                <div class="panel-body">
                    <div class="col-lg-7 col-md-6 ">
                        <div class="panel panel-transparent">
                            <div class="panel-body">
                                <form id="form-personal" role="form" autocomplete="off" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Ngày cập nhật</label>
                                                <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-8">
                                            <div class="form-group form-group-default required" aria-required="true">
                                                <label>Số tiền</label>
                                                <input type="text" class="form-control" name="firstName" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-default form-group-default-select2 required">
                                                <label>Loại tiền</label>
                                                <select class="full-width select2-hidden-accessible" data-placeholder="Select Country" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                                    <option value="NV">USD</option>
                                                    <option value="OR">VNĐ</option>
                                                    <option value="WA">EURO</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4"></div>

                                        <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                                            <button class="btn btn-danger " data-dismiss="modal">Hủy</button>
                                            <button class="btn btn-primary " type="submit">Lưu & Yêu cầu duyệt</button>
                                        </div>
                                    </div>



                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}