{{#extend "default"}} {{#content "main"}}
<br>


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>


    </div>



    <div class="row">

        <div class="col-md-12">




            <div class="panel panel-default">



                <div class="panel-body">

                    {{>formSearch type="pcrt-4"}}




                    <table class="table table-hover">
                        <thead>
                        <tr><th>STT</th>
                            <th>Mã số nhận biết</th>
                            <th>Đối tác</th>
                            <th>Ngày đánh giá giao dịch</th>
                            <th>Tên người nhận</th>
                            <th>Số giấy tờ</th>
                            <th>Địa chỉ</th>
                            <th>Loại tiền chi</th>
                            <th>Số tiền</th>
                            <th>Dấu hiệu đáng ngờ</th>
                            <th>Lý do nghi ngờ</th>
                            <th>Diễn giải</th>

                        </tr>
                        </thead>
                        <tbody> <tr><td class="v-align-middle">1</td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                        </tr>
                        <tr><td class="v-align-middle">2</td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                        </tr>
                        <tr><td class="v-align-middle">3</td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                            <td class="v-align-middle"></td>
                        </tr>

                        </tbody>
                    </table>



                        {{>pagination}}


                </div>
            </div>

        </div>




    </div>

</div>




{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}