{{#extend "default"}} {{#content "main"}}

<br>
<!--Danh sách công văn-->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Tạo mới dấu hiệu đáng ngờ</h3>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-center ">
                <div class="panel-body">
                    <div class="col-lg-7 col-md-6 ">
                        <div class="panel panel-transparent">
                            <div class="panel-body">
                                <form id="form-personal" role="form" autocomplete="off" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Mã tiêu chí</label>
                                                <input class="form-control" placeholder="1" name="name" type="text"> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Dấu hiệu đáng ngờ</label>
                                                <input class="form-control" placeholder="Dấu hiệu đáng ngờ 1" name="name" type="text"> </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Nội dung</label>
                                                <textarea class="form-control" placeholer="Message">  </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Loại tiêu chí</label>
                                                <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                                <option value="VT">Nghi ngờ</option>
                                                <option value="WV">Hủy chi</option>
                                                  <option value="WV">Nhận biết</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4"></div>

                                        <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                                            <button class="btn btn-danger " data-dismiss="modal">Hủy</button>
                                            <button class="btn btn-primary " type="submit">Lưu & Yêu cầu duyệt</button>
                                        </div>
                                    </div>



                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}