{{#extend "default"}} {{#content "main"}} {{> navHori type=activeLink}}

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-8">

            <h3 class="page-title">Danh sách đối tượng cảnh báo</h3>
        </div>



    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Chưa duyệt</a>
                    </li>

                    <li><a href="#tabDaDuyet" data-toggle="tab" role="tab">Đã Duyệt</a>
                    </li>
                    <li><a href="#tabTraVe" data-toggle="tab" role="tab">Trả về</a>
                    </li>


                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tabChuaDuyet">
                        {{> formSearch type="normal"}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-heading">
                                    <div class="pull-right m-b-10">
                                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                        </button>
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                        </div>
                                    </div>
                                </div>

                                <div class="table table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox1">
                                                        <label for="checkbox1" class="m-r-0"></label>
                                                    </div>

                                                </th>
                                                <th style="width: 10%">STT</th>
                                                <th style="width: 10%">Mã đối tượng</th>
                                                <th style="width: 10%">Họ tên</th>

                                                <th style="width: 10%">Số giấy tờ</th>

                                                <th style="width: 10%">Địa chỉ</th>
                                                <th style="width: 10%">Điện thoại</th>
                                                <th style="width: 10%">Dấu hiệu đáng ngờ</th>
                                                <th style="width: 10%">Loại tiêu chí</th>
                                                <th style="width: 15%">Hiệu lực</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    12
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    Tra soát
                                                </td>

                                                <td class="v-align-middle ">
                                                    abc
                                                </td>
                                                <td class="v-align-middle ">
                                                    09822337
                                                </td>
                                                <td class="v-align-middle ">
                                                    Dấu hiệu đáng ngờ 1
                                                </td>
                                                <td class="v-align-middle ">
                                                    Nghi ngờ
                                                </td>
                                                <td class="v-align-middle ">
                                                    Còn hiệu lực
                                                    </a>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>


                                    {{>pagination}}

                                </div>

                                <div class="clearfix"></div>


                            </div>


                            <!--sds-->

                        </div>

                    </div>


                    <div class="tab-pane " id="tabTraVe">
                        {{> formSearch type="normal"}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-heading">
                                    <div class="pull-right m-b-10">
                                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                        </button>
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                        </div>
                                    </div>
                                </div>

                                <div class="table table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox1">
                                                        <label for="checkbox1" class="m-r-0"></label>
                                                    </div>

                                                </th>
                                                <th style="width: 10%">STT</th>
                                                <th style="width: 10%">Mã đối tượng</th>
                                                <th style="width: 10%">Họ tên</th>

                                                <th style="width: 10%">Số giấy tờ</th>

                                                <th style="width: 10%">Địa chỉ</th>
                                                <th style="width: 10%">Điện thoại</th>
                                                <th style="width: 15%">Dấu hiệu đáng ngờ</th>
                                                <th style="width: 10%">Loại tiêu chí</th>
                                                <th style="width: 10%">Hiệu lực</th>
                                                <th style="width: 5%">Hành động</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    001
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    tra soát
                                                </td>

                                                <td class="v-align-middle">
                                                    abc
                                                </td>
                                                <td class="v-align-middle">
                                                    abc
                                                </td>
                                                <td class="v-align-middle ">
                                                    Dấu hiệu đáng ngờ 1
                                                </td>
                                                <td class="v-align-middle r">

                                                    Nghi ngờ
                                                </td>
                                                <td class="v-align-middle">
                                                    Còn hiệu lực
                                                </td>
                                                <td class="v-align-middle ">
                                                    <div class="btn-group btn-group-sm">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dieuchinhTuongCanhBao"> <i class="fa fa-edit"></i> Sửa</button>
                                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa</button>
                                                    </div>
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>

                                    {{>pagination}}

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="tab-pane " id="tabDaDuyet">
                        {{> formSearch type="normal"}}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-heading">
                                    <div class="pull-right m-b-10">
                                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                        </button>
                                            <button type="button" class="btn btn-default"><i
                                                class="fa fa-chevron-right"></i>
                                        </button>

                                        </div>
                                    </div>
                                </div>

                                <div class="table table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox1">
                                                        <label for="checkbox1" class="m-r-0"></label>
                                                    </div>

                                                </th>
                                                <th style="width: 10%">STT</th>
                                                <th style="width: 10%">Mã đối tượng</th>
                                                <th style="width: 10%">Họ tên</th>

                                                <th style="width: 10%">Số giấy tờ</th>

                                                <th style="width: 10%">Địa chỉ</th>
                                                <th style="width: 10%">Điện thoại</th>
                                                <th style="width: 15%">Dấu hiệu đáng ngờ</th>
                                                <th style="width: 10%">Loại tiêu chí</th>
                                                <th style="width: 10%">Hiệu lực</th>
                                                <th style="width: 5%">Hành động</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox ">
                                                        <input type="checkbox" value="3" id="checkbox2">
                                                        <label for="checkbox2" class="m-r-0"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle ">
                                                    001

                                                </td>
                                                <td class="v-align-middle">
                                                    04/03/2017
                                                </td>
                                                <td class="v-align-middle">
                                                    ABC
                                                </td>

                                                <td class="v-align-middle">
                                                    tra soát
                                                </td>

                                                <td class="v-align-middle">
                                                    abc
                                                </td>
                                                <td class="v-align-middle">
                                                    abc
                                                </td>
                                                <td class="v-align-middle ">
                                                    Dấu hiệu đáng ngờ 1
                                                </td>
                                                <td class="v-align-middle r">

                                                    Nghi ngờ
                                                </td>
                                                <td class="v-align-middle">
                                                    Còn hiệu lực
                                                </td>
                                                <td class="v-align-middle ">
                                                    <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#doituongCanhBao-DaDuyet">Xem</a>
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>

                                    {{>pagination}}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}