{{#extend "default"}} {{#content "main"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Giao dịch tại quầy</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default ">

                <!--<ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Chưa duyệt</a>
                    </li>
                    <li><a href="#tabDaDuyet" data-toggle="tab" role="tab">Đã duyệt</a>
                    </li>

                </ul>-->
                <div class="tab-content">
                    <!--<div class="tab-pane active" id="tabChuaDuyet">-->

                    <div class="panel-body">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <form role="form">

                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Số biên nhận</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Tên người nhận</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>CMND/Pssport</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Mã pin</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Mã số nhận tiền</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Điện thoại</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Ngày</label>
                                                <div class="input-daterange input-group" id="datepicker-range">
                                                    <input type="text" class="input-sm form-control" name="start">
                                                    <span class="input-group-addon">đến</span>
                                                    <input type="text" class="input-sm form-control" name="end">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm</button>
                                            </div>
                                        </div>


                                    </div>


                            </div>

                            </form>

                        </div>
                        <h6 class="bold text-uppercase">Danh sách giao dịch</h6>
                        <div class="panel panel-default">


                            <div class="panel-body">


                                <table class="table table-hover ">
                                    <thead>
                                        <tr class="active">

                                            <th>Mã số người nhận</th>
                                            <th>Tên người nhận</th>

                                            <th>Số tiền</th>
                                            <th>Loại tiền</th>
                                            <th style="">Điện thoại</th>
                                            <th style="">Ngày</th>
                                            <th style="">Hành động</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="v-align-middle">1 </td>
                                            <td class="v-align-middle"> Nguyen Van A</td>
                                            <td class="v-align-middle"> 100</td>
                                            <td class="v-align-middle"> USD</td>
                                            <td class="v-align-middle">34534534</td>
                                            <td class="v-align-middle">12/03/2017</td>
                                            <td class="v-align-middle">
                                                <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#xemGiaoDichTaiQuay">Xem</a>
                                            </td>




                                        </tr>


                                    </tbody>
                                </table>
                                {{>pagination}}

                            </div>

                        </div>

                    </div>


                </div>
                <!-- <div class="tab-pane " id="tabDaDuyet">
                    <div class="panel-body">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <form role="form">

                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Số biên nhận</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Tên người nhận</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>CMND/Pssport</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Mã pin</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Mã số nhận tiền</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Điện thoại</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <label>Ngày</label>
                                                <div class="input-daterange input-group" id="datepicker-range">
                                                    <input type="text" class="input-sm form-control" name="start">
                                                    <span class="input-group-addon">đến</span>
                                                    <input type="text" class="input-sm form-control" name="end">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group m-l-10">
                                                <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
                                                    </button>
                                            </div>
                                        </div>


                                    </div>


                            </div>

                            </form>

                        </div>
                        <h6 class="bold text-uppercase">Danh sách giao dịch</h6>
                        <div class="panel panel-default">


                            <div class="panel-body">


                                <table class="table table-hover ">
                                    <thead>
                                        <tr class="active">

                                            <th>Mã số người nhận</th>
                                            <th>Tên người nhận</th>

                                            <th>Số tiền</th>
                                            <th>Loại tiền</th>
                                            <th style="">Điện thoại</th>
                                            <th style="">Ngày</th>
                                            <th style="">Hành động</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="v-align-middle">1 </td>
                                            <td class="v-align-middle"> Nguyen Van A</td>
                                            <td class="v-align-middle"> 100</td>
                                            <td class="v-align-middle"> USD</td>
                                            <td class="v-align-middle">34534534</td>
                                            <td class="v-align-middle">12/03/2017</td>
                                            <td class="v-align-middle">
                                                <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#xemGiaoDichTaiQuayDaDuyet">Xem</a>
                                            </td>




                                        </tr>


                                    </tbody>
                                </table>
                                {{>pagination}}

                            </div>

                        </div>

                    </div>

                </div>-->
            </div>


        </div>

    </div>

</div>
</div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}