{{#extend "default"}} {{#content "main"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Giao dịch tại quầy</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default ">

                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabDanhsach" data-toggle="tab" role="tab">Danh sách giao dịch</a>
                    </li>
                    <li><a href="#tabDuyet" data-toggle="tab" role="tab">Duyệt</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabDanhsach">

                        <div class="panel-body">

                            <div class="panel panel-default">

                                <div class="panel-body">

                                    <form role="form">

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <label>Số biên nhận</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <label>Tên người nhận</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <label>CMND/Pssport</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <label>Mã pin</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <label>Mã số nhận tiền</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <label>Điện thoại</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <label>Ngày</label>
                                                    <div class="input-daterange input-group" id="datepicker-range">
                                                        <input type="text" class="input-sm form-control" name="start">
                                                        <span class="input-group-addon">đến</span>
                                                        <input type="text" class="input-sm form-control" name="end">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group m-l-10">
                                                    <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm</button>
                                                </div>
                                            </div>


                                        </div>

                                </div>

                                </form>

                            </div>
                            <h6 class="bold text-uppercase">Danh sách giao dịch</h6>
                            <div class="panel panel-default">


                                <div class="panel-body">


                                    <table class="table table-hover ">
                                        <thead>
                                            <tr class="active">

                                                <th>Mã số người nhận</th>
                                                <th>Tên người nhận</th>

                                                <th>Số tiền</th>
                                                <th>Loại tiền</th>
                                                <th style="">Điện thoại</th>
                                                <th style="">Ngày</th>
                                                <th style="">Hành động</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle">1 </td>
                                                <td class="v-align-middle"> Nguyen Van A</td>
                                                <td class="v-align-middle"> 100</td>
                                                <td class="v-align-middle"> USD</td>
                                                <td class="v-align-middle">34534534</td>
                                                <td class="v-align-middle">12/03/2017</td>
                                                <td class="v-align-middle">
                                                    <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#xemGiaoDichTaiQuay">Chi tiết</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{>pagination}}

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane " id="tabDuyet">

                        <div class="panel-body">
                            <form role="form">

                                <div class="row">

                                    <div class="col-md-12">

                                        {{>formSearch type="phongvanhanh5"}}<br>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="pull-right m-b-10">
                                                    <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>                            
                                                                </button>
                                                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>                           
                                                                </button>

                                                    </div>
                                                </div>


                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="panel-body">

                                                <div class="tabler-responsive">


                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>

                                                                <th style="width: 50px;padding: 10px 11px !important;">
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox" value="3" id="checkbox1">
                                                                        <label for="checkbox1" class="m-r-0"></label>
                                                                    </div>

                                                                </th>
                                                                <th style="width: 10%">STT</th>
                                                                <th style="width: 15%">Mã số nhận tiền</th>

                                                                <th style="width: 15%">Tên người nhận</th>
                                                                <th style="width: 10%">Loại tiền</th>
                                                                <th style="width: 10%">Số tiền</th>
                                                                <th style="width: 10%">Điên thoại</th>
                                                                <th style="width: 20%">Ngày</th>
                                                                <th style="width: 10%">Chi tiết</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="v-align-middle">
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox" value="3" id="checkbox2">
                                                                        <label for="checkbox2" class="m-r-0"></label>
                                                                    </div>
                                                                </td>
                                                                <td class="v-align-middle">
                                                                    1
                                                                </td>

                                                                <td class="v-align-middle">
                                                                    234
                                                                </td>
                                                                <td class="v-align-middle ">
                                                                    Nguyên văn a
                                                                </td>

                                                                <td class="v-align-middle">
                                                                    Loại tiền
                                                                </td>

                                                                <td class="v-align-middle">
                                                                    Số tiền
                                                                </td>
                                                                <td class="v-align-middle ">
                                                                    098484847
                                                                </td>

                                                                <td class="v-align-middle">
                                                                    30/4/2015
                                                                </td>


                                                                <td class="v-align-middle">

                                                                    <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#xemDuyetGiaoDichTaiQuay">Xem</a>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    {{>pagination}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}