{{#extend "default"}} {{#content "main"}} {{> navHori type=activeLink}}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-sm-7">
            <h3 class="page-title">Danh sách nhập liệu</h3>
        </div>
        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#modalKinhDoanhTyGia"><i class="pg-form"></i> Tạo mới nhập liệu
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                 
                    <form action="" method="POST" role="form" class="form-filter">
                        <div class="form-group">
                            <label>Từ khóa</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group long">
                            <label>THEO NGÀY</label>
                            <div class="input-daterange input-group" id="datepicker-range">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon">đến</span>
                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Xuất danh sách
                          </button>
                        <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Xóa
                          </button>
                        <button type="button" class="btn btn-default"><i class="fa fa-rotate-left"></i>
                          </button>
                    </div>
                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                          </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                          </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>
                                    </th>
                                    <th>Ngày yêu cầu</th>
                                    <th>Ngày duyệt</th>
                                    <th>Tên đối tác</th>
                                    <th>Loại tiền bán</th>
                                    <th>Số tiền bán</th>
                                    <th>Tỷ giá </th>
                                    <th>Tỷ giá mua ngoại tệL</th>
                                    <th>Loại tiền mua</th>
                                    <th>Tỷ giá đối tác</th>
                                    <th>Tỷ giá bán</th>
                                    <th>Thành tiền đối tác</th>
                                    <th>Thành tiền</th>
                                    <th>Trạng thái</th>
                                    <th style="width: 70px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle ">
                                        04/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        08/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        ABC
                                    </td>
                                    <td class="v-align-middle">
                                        <span class="label label-primary">VND</span>
                                    </td>
                                    <td class="v-align-middle">
                                        500
                                    </td>
                                    <td class="v-align-middle">
                                        22600
                                    </td>
                                    <td class="v-align-middle">
                                        22500
                                    </td>
                                    <td class="v-align-middle">
                                        <span class="label label-default">EUR</span>
                                    </td>
                                    <td class="v-align-middle">
                                    </td>
                                    <td class="v-align-middle">
                                        26500
                                    </td>
                                    <td class="v-align-middle">
                                        425
                                    </td>
                                    <td class="v-align-middle">
                                    </td>
                                    <td class="v-align-middle">
                                        <span class="label label-default">Chưa duyệt</span>
                                        <!--<span class="label label-success">Duyệt</span>-->
                                    </td>
                                    <td class="v-align-middle">
                                        <div class="dropdown pull-right">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fa fa-cog"></i>
</button>
                                            <ul class="dropdown-menu profile-dropdown" role="menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modalKinhDoanhTyGia"><i class="fa fa-edit"></i> Sửa</a>
                                                </li>
                                                <li class="bg-master-lighter">
                                                    <a href="#" data-toggle="modal" data-target="#modalXoa" class="clearfix">
                                                        <span class="pull-left">Xóa</span>
                                                        <span class="pull-right"><i class="fa fa-trash-o"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle ">
                                        04/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        08/03/2017
                                    </td>
                                    <td class="v-align-middle">
                                        ABC
                                    </td>
                                    <td class="v-align-middle">
                                        <span class="label label-primary">VND</span>
                                    </td>
                                    <td class="v-align-middle">
                                        500
                                    </td>
                                    <td class="v-align-middle">
                                        22600
                                    </td>
                                    <td class="v-align-middle">
                                        22500
                                    </td>
                                    <td class="v-align-middle">
                                        <span class="label label-default">EUR</span>
                                    </td>
                                    <td class="v-align-middle">
                                    </td>
                                    <td class="v-align-middle">
                                        26500
                                    </td>
                                    <td class="v-align-middle">
                                        425
                                    </td>
                                    <td class="v-align-middle">
                                    </td>
                                    <td class="v-align-middle">
                                        <span class="label label-success">Duyệt</span>
                                    </td>
                                    <td class="v-align-middle">
                                        <div class="dropdown pull-right">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fa fa-cog"></i>
</button>
                                            <ul class="dropdown-menu profile-dropdown" role="menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modalKinhDoanhTyGia"><i class="fa fa-edit"></i> Sửa</a>
                                                </li>
                                                <li class="bg-master-lighter">
                                                    <a href="#" data-toggle="modal" data-target="#modalXoa" class="clearfix">
                                                        <span class="pull-left">Xóa</span>
                                                        <span class="pull-right"><i class="fa fa-trash-o"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{>pagination}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}