{{#extend "default"}} {{#content "main"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Duyệt giao dịch tại quầy</h3>
        </div>



    </div>


    <div class="row">

        <div class="col-md-12">

            {{>formSearch type="phongvanhanh5"}}<br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                            </button>

                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    <div class="tabler-responsive">


                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th style="width: 10%">STT</th>
                                    <th style="width: 15%">Mã số nhận tiền</th>

                                    <th style="width: 15%">Tên người nhận</th>
                                    <th style="width: 10%">Loại tiền</th>
                                    <th style="width: 10%">Số tiền</th>
                                    <th style="width: 10%">Điên thoại</th>
                                    <th style="width: 20%">Ngày</th>
                                    <th style="width: 10%">Chi tiết</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle">
                                        1
                                    </td>

                                    <td class="v-align-middle">
                                        234
                                    </td>
                                    <td class="v-align-middle ">
                                        Nguyên văn a
                                    </td>

                                    <td class="v-align-middle">
                                        Loại tiền
                                    </td>

                                    <td class="v-align-middle">
                                        Số tiền
                                    </td>
                                    <td class="v-align-middle ">
                                        098484847
                                    </td>

                                    <td class="v-align-middle">
                                        30/4/2015
                                    </td>


                                    <td class="v-align-middle">

                                        <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#xemDuyetGiaoDichTaiQuay">Xem</a>


                                    </td>
                                </tr>


                            </tbody>
                        </table>


                        {{>pagination}}


                    </div>
                </div>
            </div>

        </div>


    </div>

</div>


{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}