{{#extend "default"}} {{#content "main"}}
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">
            <h3 class="page-title">Kiểm tra biên nhận</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label>Tên đối tác</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group long">
                            <label>THEO NGÀY</label>
                            <div class="input-daterange input-group" id="datepicker-range">
                                <input type="text" class="input form-control" name="start">
                                <span class="input-group-addon">đến</span>
                                <input type="text" class="input form-control" name="end">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Địa bàn</label>
                            <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                                 <option value="">Hà nội</option>
                                                <option value="">Hải phòng</option>
                                                <option value="">Nam định </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Dịch vụ</label>
                            <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                                 <option value="">PB</option>
                                                <option value="">PR</option>
                                                <option value="">AD </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;padding: 10px 11px !important;">
                                                <div class="checkbox ">
                                                    <input value="3" id="checkbox1" type="checkbox">
                                                    <label for="checkbox1" class="m-r-0"></label>
                                                </div>
                                            </th>
                                            <th style="width:5%">STT</th>
                                            <th style="width:10%"> Ngày</th>
                                            <th style="width:10%">Mã số </th>
                                            <th style="width:10%">Người gửi</th>
                                            <th style="width:10%">Người nhận</th>
                                            <th style="width:10%">Số tiền gửi</th>
                                            <th style="width:10%"> Loại dịch vụ</th>
                                            <th style="width:10%"> Tỉnh thành</th>
                                            <th style="width:10%">Điểm giao dịch</th>
                                            <th style="width:10%">Biên nhận</th>
                                            <th style="width:5%">Chi tiết</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active">
                                            <td class="v-align-middle">
                                                <div class="checkbox ">
                                                    <input value="3" id="checkbox2" type="checkbox">
                                                    <label for="checkbox2" class="m-r-0"></label>
                                                </div>
                                            </td>
                                            <td class="v-align-middle">1</td>
                                            <td class="v-align-middle"> 20/4/2016</td>
                                            <td class="v-align-middle"> 123</td>
                                            <td class="v-align-middle">Nguyễn Văn A</td>
                                            <td class="v-align-middle">Nguyễn Văn B</td>
                                            <td class="v-align-middle">300</td>
                                            <td class="v-align-middle">
                                                PO
                                            </td>
                                            <td class="v-align-middle">
                                                TP HCM
                                            </td>
                                            <td class="v-align-middle">
                                                Chi nhánh 1
                                            </td>
                                            <td class="v-align-middle">
                                                <a href=""><i class="fa fa-download"></i> doitac-ddmmyy-maphieunhantien-magiaodich.jpg</a>
                                            </td>
                                            <td class="v-align-middle">
                                                <a href="" class="btn btn-link" data-toggle="modal" data-target="#ChiTietHoiBao">Xem</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{>pagination}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}