{{#extend "default"}} {{#content "main"}}



<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Tìm kiếm giao dịch</h3>

        </div>

        <!--<div class="col-sm-5">
            <div class="text-right">


                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createDoiTac"><i class="pg-form"></i> Tạo mới đối tác
                </button>

            </div>
        </div>-->

    </div>
    <div class="row">

        <div class="panel panel-default ">

            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label>Đối tác</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label>Tên người nhận</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Điện thoại</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mã biên nhận</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mã số nhận tiền</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
        </button>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>


    <div class="row">
        <div class="panel panel-default ">
            <div class="panel-heading">

                <div class="pull-right m-b-10">
                    <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                            </button>

                    </div>
                </div>


                <div class="clearfix"></div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox1" type="checkbox">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>

                                        </th>
                                        <th style="width:10%">STT</th>
                                        <th style="width:20%"> Mã biên nhận</th>
                                        <th style="width:25%">Mã số nhận tiền </th>
                                        <th style="width:25%">Tên người nhận</th>

                                        <th style="width:20%"> Chi tiết</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="active">
                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">1</td>
                                        <td class="v-align-middle">123d</td>
                                        <td class="v-align-middle"> 213</td>
                                        <td class="v-align-middle">Nguyễn văn b</td>
                                        <td class="v-align-middle">
                                            <a href="#" class="btn btn-default m-r-20" data-toggle="modal" data-target="#timkiemgiaodich-chitiet">Xem</a>
                                        </td>


                                    </tr>



                                </tbody>

                            </table>

                            {{>pagination}}

                        </div>
                    </div>
                </div>






            </div>

        </div>


    </div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}