{{#extend "default"}} {{#content "main"}}

{{> navHori type="phongvanhanh-quanlygiaodich"}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>


    </div>

    <div class="row">

        <div class="col-md-12">



        </div>


    </div>

</div>

 {{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}