{{#extend "default"}} {{#content "main"}}



<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Hồi báo</h3>

        </div>

        <!--<div class="col-sm-5">
            <div class="text-right">


                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createDoiTac"><i class="pg-form"></i> Tạo mới đối tác
                </button>

            </div>
        </div>-->

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">

                <div class="panel-body">

                    <form role="form" lpformnum="2" class="form-filter">

                        <div class="form-group long">
                            <label>THEO NGÀY</label>
                            <div class="input-daterange input-group" id="datepicker-range">
                                <input type="text" class="input form-control" name="start">
                                <span class="input-group-addon">đến</span>
                                <input type="text" class="input form-control" name="end">
                            </div>
                        </div>

                        <div class="form-group m-l-10">
                            <label>Địa bàn</label>
                            <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                                 <option value="">Hà nội</option>
                                                <option value="">Hải phòng</option>
                                                <option value="">Nam định </option>
                                </select>

                        </div>

                        <div class="form-group m-l-10">
                            <label>Dịch vụ</label>
                            <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                                 <option value="">PB</option>
                                                <option value="">PR</option>
                                                <option value="">AD </option>
                                </select>
                        </div>



                        <div class="form-group">

                            <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
        </button>



                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                            </button>

                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;padding: 10px 11px !important;">
                                                <div class="checkbox ">
                                                    <input value="3" id="checkbox1" type="checkbox">
                                                    <label for="checkbox1" class="m-r-0"></label>
                                                </div>

                                            </th>
                                            <th style="width:5%">STT</th>
                                            <th style="width:10%"> Mã số nhận tiền</th>
                                            <th style="width:10%">Tên người nhận </th>
                                            <th style="width:10%">Số tiền</th>
                                            <th style="width:10%">Loại tiền</th>
                                            <th style="width:10%">Điện thoại</th>
                                            <th style="width:10%">Ngày</th>
                                            <th style="width:20%">File biên nhận</th>
                                            <th style="width:15%"> Hành động</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="active">
                                            <td class="v-align-middle">
                                                <div class="checkbox ">
                                                    <input value="3" id="checkbox2" type="checkbox">
                                                    <label for="checkbox2" class="m-r-0"></label>
                                                </div>
                                            </td>
                                            <td class="v-align-middle">1</td>
                                            <td class="v-align-middle"> 123</td>
                                            <td class="v-align-middle"> Nguyen van a</td>
                                            <td class="v-align-middle">400</td>
                                            <td class="v-align-middle">USD</td>
                                            <td class="v-align-middle">0938764432</td>
                                            <td class="v-align-middle">15/03/2015</td>
                                            <td class="v-align-middle">
                                                <div class="form-group-sm">
                                                    <input type="file" class="form-control" required="">
                                                </div>
                                            </td>
                                            <td class="v-align-middle">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"><i class="fa fa-edit"></i>Lưu
                                        </button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalHuy"><i class="fa fa-trash-o"></i> Hủy
                                        </button>

                                                </div>
                                            </td>
                                        </tr>



                                    </tbody>

                                </table>

                                {{>pagination}}

                            </div>
                        </div>
                    </div>





                </div>



            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Danh sách <span class="semi-bold">biên nhận</span></h5>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <div class="pull-right m-b-10">
                        <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                            </button>

                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;padding: 10px 11px !important;">
                                                <div class="checkbox ">
                                                    <input value="3" id="checkbox1" type="checkbox">
                                                    <label for="checkbox1" class="m-r-0"></label>
                                                </div>

                                            </th>
                                            <th style="width:10%">STT</th>
                                            <th style="width:10%"> Mã số nhận tiền</th>
                                            <th style="width:20%">Tên người nhận </th>
                                            <th style="width:10%">Số tiền</th>
                                            <th style="width:10%">Loại tiền</th>
                                            <th style="width:10%">Điện thoại</th>
                                            <th style="width:15%">Ngày</th>

                                            <th style="width:15%"> Biên nhận</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="active">
                                            <td class="v-align-middle">
                                                <div class="checkbox ">
                                                    <input value="3" id="checkbox2" type="checkbox">
                                                    <label for="checkbox2" class="m-r-0"></label>
                                                </div>
                                            </td>
                                            <td class="v-align-middle">1</td>
                                            <td class="v-align-middle"> 123</td>
                                            <td class="v-align-middle"> Nguyen van a</td>
                                            <td class="v-align-middle">400</td>
                                            <td class="v-align-middle">USD</td>
                                            <td class="v-align-middle">0938764432</td>
                                            <td class="v-align-middle">15/03/2015</td>
                                            <td class="v-align-middle">
                                                doitac-ddmmyy-maphieunhantien-magiaodich.jpg
                                            </td>

                                        </tr>



                                    </tbody>

                                </table>

                                {{>pagination}}

                            </div>
                        </div>
                    </div>





                </div>



            </div>

        </div>


    </div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}