{{#extend "default"}} {{#content "main"}}


{{> navHori type=activeLink}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default ">

                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist"
                    data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Chưa duyệt</a>
                    </li>
                    <li><a href="#tabDaDuyet" data-toggle="tab" role="tab">Đã duyệt</a>
                    </li>

                    <li><a href="#tabTraVe" data-toggle="tab" role="tab">Trả về</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabChuaDuyet">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="m-t-0">
                                        Tạo yêu cầu
                                    </h5>

                                    <form role="form">

                                        <div class="row">
                                            <div class="col-md-4">

                                                <h6 class="bold text-uppercase">Thông tin đối tác</h6>

                                                <div class="form-group m-l-10">
                                                    <label>Tên đối tác</label>

                                                    <select class="full-width" data-init-plugin="select2"
                                                            data-placeholder="">
                                                        <option value=""></option>
                                                        <option value="AK">Nguyễn Văn A</option>
                                                        <option value="AK">Nguyễn Văn B</option>
                                                        <option value="AK">Nguyễn Văn C</option>
                                                    </select>
                                                </div>


                                                <div class="form-group m-l-10">
                                                    <label>Số hồ sơ</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group m-l-10">
                                                    <label>Tổng hồ sơ</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                            <div class="col-md-4">

                                                <h6 class="bold text-uppercase">Loại tiền</h6>

                                                <div class="row ">
                                                    <div class="col-sm-6">
                                                        <div class="form-group m-l-10">
                                                            <label>AUD</label>
                                                            <!--<span class="help">e.g. </span>-->
                                                            <input type="text" class="form-control">
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">

                                                        <div class="form-group m-l-10">
                                                            <label>USD</label>
                                                            <!--<span class="help">e.g. </span>-->
                                                            <input type="text" class="form-control">
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">

                                                        <div class="form-group m-l-10">
                                                            <label>CAD</label>
                                                            <!--<span class="help">e.g. </span>-->
                                                            <input type="text" class="form-control">
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">

                                                        <div class="form-group m-l-10">
                                                            <label>GBP</label>
                                                            <!--<span class="help">e.g. </span>-->
                                                            <input type="text" class="form-control">
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">

                                                        <div class="form-group m-l-10">
                                                            <label>EUR</label>
                                                            <!--<span class="help">e.g. </span>-->
                                                            <input type="text" class="form-control">
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-8 m-t-10 sm-m-t-10 text-right">
                                                <!--<button type="button" class="btn btn-warning  m-t-5">Lưu</button>-->
                                                <button type="button" class="btn btn-primary  m-t-5">Lưu & yêu cầu
                                                    duyệt
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                </div>

                            </div>


                            <h4>Danh sách tổng</h4>

                            <div class="row">
                                <div class="col-sm-9">

                                    <div class="btn-group ">

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#modalDuyet"><i class="fa fa-edit"></i> Duyệt yêu cầu
                                        </button>

                                    </div>

                                </div>

                                <div class="col-sm-3 text-right">

                                    {{>formSearch type="phongvanhanh"}}


                                </div>


                            </div>


                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th> STT</th>
                                    <th> MÃ DANH SÁCH</th>
                                    <th> ĐỐI TÁC</th>
                                    <th> AUD</th>
                                    <th> CAD</th>
                                    <th> EUR</th>
                                    <th> GBP</th>
                                    <th> USD</th>
                                    <th> VND</th>
                                    <th> HTTT</th>
                                    <th>TỔNG HỒ SƠ</th>
                                    <th> GIỜ THỰC HIỆN</th>
                                    <th>TRẠNG THÁI</th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle"> 1</td>
                                    <td class="v-align-middle"> 1-2000-120317-830</td>
                                    <td class="v-align-middle"> MAYZUS</td>
                                    <td class="v-align-middle"> 200</td>
                                    <td class="v-align-middle"> 300</td>
                                    <td class="v-align-middle"> 400</td>
                                    <td class="v-align-middle"> 500</td>
                                    <td class="v-align-middle"> 400</td>
                                    <td class="v-align-middle"> 44;000;000</td>
                                    <td class="v-align-middle">tiền mặt</td>
                                    <td class="v-align-middle">100</td>
                                    <td class="v-align-middle">8h30</td>
                                    <td class="v-align-middle"><span class="label label-default">Chờ duyệt</span></td>

                                    <td class="v-align-middle">

                                        {{> drop-edit-remove}}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle"> 2</td>
                                    <td class="v-align-middle"> 2-2001-130317-8</td>
                                    <td class="v-align-middle"> ABC</td>
                                    <td class="v-align-middle"> 200</td>
                                    <td class="v-align-middle"> 300</td>
                                    <td class="v-align-middle"> 400</td>
                                    <td class="v-align-middle"> 500</td>
                                    <td class="v-align-middle"> 100</td>
                                    <td class="v-align-middle"> 0</td>
                                    <td class="v-align-middle">tiền mặt</td>
                                    <td class="v-align-middle">100</td>
                                    <td class="v-align-middle">8h</td>
                                    <td class="v-align-middle"><span class="label label-default">Chờ duyệt</span></td>
                                    <td class="v-align-middle">

                                        {{> drop-edit-remove}}

                                    </td>
                                </tr>

                                </tbody>
                            </table>


                            {{>pagination}}


                        </div>

                    </div>
                    <div class="tab-pane " id="tabDaDuyet">
                        <div class="panel-body">

                            {{>formSearch type="phongvanhanh2"}}

                            <br>

                            <table class="table">
                                <thead>
                                <tr>

                                    <th>NGÀY</th>
                                    <th> MÃ DANH SÁCH</th>
                                    <th> ĐỐI TÁC</th>
                                    <th> TỔNG HỒ SƠ</th>
                                    <th>NHÂN VIÊN THỰC HIỆN</th>
                                    <th>NGƯỜI DUYỆT</th>
                                    <th>GIỜ CHUYỂN DUYỆT</th>
                                    <th>GIỜ DUYỆT</th>
                                    <th>CHI TIẾT</th>
                                    <th>DANH SÁCH CHI TIẾT</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr class="active">

                                    <td class="v-align-middle">12/03/2017
                                    </td>
                                    <td class="v-align-middle"> 1-2000-120317-830
                                    </td>
                                    <td class="v-align-middle">MAYZUS
                                    </td>
                                    <td class="v-align-middle">100
                                    </td>
                                    <td class="v-align-middle">Nguyễn Văn A
                                    </td>
                                    <td class="v-align-middle">Nguyễn Văn B
                                    </td>

                                    <td class="v-align-middle">8h30
                                    </td>
                                    <td class="v-align-middle">9h00
                                    </td>
                                    <td class="v-align-middle"><a href=""
                                                                  class="btn btn-tag   btn-tag-light btn-tag-rounded ">Xem</a>
                                    </td>

                                    <td class="v-align-middle"><a href=""
                                                                  class="btn btn-tag   btn-tag-light btn-tag-rounded ">Import
                                        DS chi tiết</a>
                                    </td>

                                </tr>

                                </tbody>
                            </table>


                            <h5>Chi tiết <span class="semi-bold">danh sách</span></h5>

                            <div class="panel panel-default">


                                <div class="panel-body">

                                    <div class="row static-info">
                                        <div class="col-md-2 name"> Ngày</div>
                                        <div class="col-md-2 value"><b> 12/03/2017</b>
                                        </div>

                                        <div class="col-md-2 col-lg-1 name"> Mã danh sách:</div>
                                        <div class="col-md-2 value"><b> 1-2000-120317-830</b>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-2 name"> Tổng hồ sơ</div>
                                        <div class="col-md-2 value"><b> 100</b>
                                        </div>

                                        <div class="col-md-2 col-lg-1 name"> Đối tác</div>
                                        <div class="col-md-2 value"><b> MAYZUS</b>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <table class="table table-hover table-small">
                                                <thead>
                                                <tr>

                                                    <th style="">AUD</th>
                                                    <th style="">CAD</th>
                                                    <th style="">EUR</th>
                                                    <th style="">GBP</th>
                                                    <th style="">USD</th>
                                                    <th style="">VND</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>200</td>
                                                    <td>300</td>
                                                    <td>400</td>
                                                    <td>500</td>
                                                    <td>400</td>
                                                    <td>44,000,000</td>

                                                </tr>




                                                </tbody>
                                            </table>

                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="tab-pane " id="tabTraVe">
                        <div class="panel-body">


                            <h4>Danh sách trả về</h4>

                            <div class="row">
                                <div class="col-sm-9">

                                    <div class="btn-group ">

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#modalDuyet"><i class="fa fa-edit"></i> Duyệt yêu cầu
                                        </button>

                                    </div>

                                </div>

                                <div class="col-sm-3 text-right">

                                    {{>formSearch type="phongvanhanh"}}


                                </div>


                            </div>


                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 50px;padding: 10px 11px !important;">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox1">
                                            <label for="checkbox1" class="m-r-0"></label>
                                        </div>

                                    </th>
                                    <th> STT</th>
                                    <th> MÃ DANH SÁCH</th>
                                    <th> ĐỐI TÁC</th>
                                    <th> AUD</th>
                                    <th> CAD</th>
                                    <th> EUR</th>
                                    <th> GBP</th>
                                    <th> USD</th>
                                    <th> VND</th>
                                    <th> HTTT</th>
                                    <th>TỔNG HỒ SƠ</th>
                                    <th> GIỜ THỰC HIỆN</th>
                                    <th>TRẠNG THÁI</th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle"> 1</td>
                                    <td class="v-align-middle"> 1-2000-120317-830</td>
                                    <td class="v-align-middle"> MAYZUS</td>
                                    <td class="v-align-middle"> 200</td>
                                    <td class="v-align-middle"> 300</td>
                                    <td class="v-align-middle"> 400</td>
                                    <td class="v-align-middle"> 500</td>
                                    <td class="v-align-middle"> 400</td>
                                    <td class="v-align-middle"> 44;000;000</td>
                                    <td class="v-align-middle">tiền mặt</td>
                                    <td class="v-align-middle">100</td>
                                    <td class="v-align-middle">8h30</td>
                                    <td class="v-align-middle"><span class="label label-default">Chờ duyệt</span></td>

                                    <td class="v-align-middle">

                                        {{> drop-edit-remove}}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="v-align-middle">
                                        <div class="checkbox ">
                                            <input type="checkbox" value="3" id="checkbox2">
                                            <label for="checkbox2" class="m-r-0"></label>
                                        </div>
                                    </td>
                                    <td class="v-align-middle"> 2</td>
                                    <td class="v-align-middle"> 2-2001-130317-8</td>
                                    <td class="v-align-middle"> ABC</td>
                                    <td class="v-align-middle"> 200</td>
                                    <td class="v-align-middle"> 300</td>
                                    <td class="v-align-middle"> 400</td>
                                    <td class="v-align-middle"> 500</td>
                                    <td class="v-align-middle"> 100</td>
                                    <td class="v-align-middle"> 0</td>
                                    <td class="v-align-middle">tiền mặt</td>
                                    <td class="v-align-middle">100</td>
                                    <td class="v-align-middle">8h</td>
                                    <td class="v-align-middle"><span class="label label-default">Chờ duyệt</span></td>
                                    <td class="v-align-middle">

                                        {{> drop-edit-remove}}

                                    </td>
                                </tr>

                                </tbody>
                            </table>


                            {{>pagination}}


                        </div>

                    </div>
                </div>


            </div>

        </div>


    </div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}