{{#extend "default"}} {{#content "main"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Duyệt hủy giao dịch</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default ">

                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Hủy giao dịch</a>
                    </li>

                    <li><a href="#tabDaDuyet" data-toggle="tab" role="tab">Duyệt</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabChuaDuyet">
                        <div class="panel-body">

                            {{>formSearch type="phongvanhanh5"}}


                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox1" type="checkbox">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>

                                        </th>
                                        <th>STT</th>
                                        <th>Tên đối tác</th>
                                        <th>Mã biên nhận</th>
                                        <th>Mã số nhận tiền</th>
                                        <th>Tên người nhận</th>
                                        <th> Trạng thái</th>
                                        <th> Hành động</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">1</td>
                                        <td class="v-align-middle">MAYZUS</td>
                                        <td class="v-align-middle">120317-0001</td>
                                        <td class="v-align-middle">970</td>
                                        <td class="v-align-middle">PHAM THI NGON</td>
                                        <td class="v-align-middle"> Chưa chi</td>
                                        <td class="v-align-middle">
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalYeuCauHuy"><i class="fa fa-trash-o"></i> Yêu cầu hủy</button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <br>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox1" type="checkbox">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>

                                        </th>
                                        <th>STT</th>
                                        <th>Tên đối tác</th>
                                        <th>Mã biên nhận</th>
                                        <th>Mã số nhận tiền</th>
                                        <th>Tên người nhận</th>
                                        <th> Trạng thái</th>
                                        <th> P. Kế toán</th>
                                        <th> Hành động</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">1</td>
                                        <td class="v-align-middle">MAYZUS</td>
                                        <td class="v-align-middle">120317-0001</td>
                                        <td class="v-align-middle">970</td>
                                        <td class="v-align-middle">PHAM THI NGON</td>
                                        <td class="v-align-middle"> Đã chi</td>
                                        <td class="v-align-middle"> chưa duyệt</td>
                                        <td class="v-align-middle">
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalYeuCauHuy"><i class="fa fa-trash-o"></i> Yêu cầu hủy</button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            {{>pagination}}


                        </div>


                    </div>

                    <div class="tab-pane" id="tabDaDuyet">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mã số giao dịch</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mã biên nhận</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">

                                        <button class="btn btn-primary btn-cons m-t-25" type="button"><i
                class="fa fa-search"></i> Tìm kiếm
        </button>


                                    </div>
                                </div>

                            </div>

                            <br>

                            <table class="table table-hover table-small">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox1" type="checkbox">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>

                                        </th>
                                        <th style="width:10%">STT</th>
                                        <th style="width:15%"> Tên đối tác</th>
                                        <th style="width:15%">Mã biên nhận</th>
                                        <th style="width:15%"> Mã số nhận tiền</th>
                                        <th style="width:15%">Tên người nhận</th>
                                        <th style="width:15%">Trạng thái </th>
                                        <th style="width:15%">Hành động</th>



                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="active">
                                        <td>
                                            <div class="checkbox ">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>

                                        <td class="v-align-middle">1
                                        </td>
                                        <td class="v-align-middle"> Nguyễn Văn A
                                        </td>
                                        <td class="v-align-middle">123
                                        </td>
                                        <td class="v-align-middle">100
                                        </td>
                                        <td class="v-align-middle">Nguyễn Văn A
                                        </td>
                                        <td class="v-align-middle">Chưa chi
                                        </td>

                                        <td class="v-align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"><i class="fa fa-edit"></i> Xác nhận
                                        </button>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalTuChoi"><i class="fa fa-trash-o"></i> Từ chối
                                        </button>

                                            </div>
                                        </td>


                                    </tr>

                                </tbody>
                            </table>

                            {{>pagination}}

                        </div>
                    </div>




                </div>

            </div>
        </div>


    </div>

</div>

</div>
</div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}