{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-danhmucquanly"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>
        </div>

        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan-taomoi"><i class="pg-form"></i> Tạo mới
                </button>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default ">

                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabDanhmuc" data-toggle="tab" role="tab">Danh mục</a>
                    </li>

                    <li><a href="#tabLanhDaoDuyet" data-toggle="tab" role="tab">Duyệt</a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tabDanhmuc">

                        <div class="panel-body">
                            <!--<h5>Danh sách <span class="semi-bold">chưa duyệt</span></h5>-->
                            {{>formSearch type="pkt-2"}}

                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th style="">Ngày</th>
                                        <th style="">Loại TK</th>
                                        <th style="">TK cấp 1</th>
                                        <th style="">Tên TK cấp 1</th>
                                        <th style="">TK cấp 2</th>
                                        <th style="">Tên TK cấp 2</th>
                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td class="v-align-middle ">
                                            12/05/2017
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>
                                        <td class="v-align-middle ">

                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle">
                                            <a href="#" class="text-primary" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan-chitiet">Xem</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="tab-pane " id="tabLanhDaoDuyet">
                        <div class="panel-body">

                            {{>formSearch type="pkt-2"}}
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th style="">Ngày</th>
                                        <th style="">Loại TK</th>
                                        <th style="">TK cấp 1</th>
                                        <th style="">Tên TK cấp 1</th>
                                        <th style="">TK cấp 2</th>
                                        <th style="">Tên TK cấp 2</th>

                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td class="v-align-middle">
                                            12/05/2017
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>
                                        <td class="v-align-middle ">

                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle">
                                            <a href="#" class="text-primary" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan-duyet">Xem</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}