{{#extend "default"}} {{#content "main"}}
<br>
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Loại chuyển đổi ngoại tệ : </div>
                                <div class="col-md-8 value">
                                    <div class="radio radio-primary">
                                        <input type="radio" value="yes" name="cdnt" id="cdnt-ocb">
                                        <label for="cdnt-ocb">Chuyển đổi ngoại tệ chi trả</label>
                                        <input type="radio" checked="checked" value="no" name="cdnt" id="cdnt-congty">
                                        <label for="cdnt-congty">Chuyển đổi hoa hồng trực tiếp</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row  m-b-15">
                                <div class="col-md-4 name m-t-5"> Loại tiền (CCY/VND) : </div>
                                <div class="col-md-8 value">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Loại tiền</label>
                                                <input type="text " value="USD" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Tổng cộng</label>
                                                <input type="text " class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Tỷ giá bán</label>
                                                <input type="text " class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text " value="EUR" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text " class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text " class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text " value="CAD" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text " class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text " class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4 text-right">
                                    <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal"><i class="fa fa-remove"></i> Hủy</button>
                                    <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-edit"></i> Thực hiện</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                            <h5>Danh sách</h5>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="clearfix">
                                        <div class="pull-right m-b-10">
                                            <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Ngày </th>
                                                    <th>Tên đối tác</th>
                                                    <th>ID đối tác</th>
                                                    <th>LT thanh toán</th>
                                                    <th>LT chi</th>
                                                    <th>Số tiền </th>
                                                    <th>Tỷ giá chuyển đổi</th>
                                                    <th>TT chuyển đổi</th>
                                                    <th>Tỷ giá bán</th>
                                                    <th>TT bán</th>
                                                    <th>Chênh lệch</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="v-align-middle ">
                                                        12/03/2017
                                                    </td>
                                                    <td class="v-align-middle">
                                                        ABC
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="v-align-middle ">
                                                        12/04/2017
                                                    </td>
                                                    <td class="v-align-middle">
                                                        XYZ
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{>pagination}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}