{{#extend "default"}} {{#content "main"}}
<br>
<!--Danh sách công văn-->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">
            <h3 class="page-title">Danh sách chứng từ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>NGÀY</label>
                                <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Chi nhánh</label>
                                <select class="form-control">
                                    <option value="">Chi nhánh 1</option>
                                    <option value="">Chi nhánh 2</option>
                                    <option value="">Chi nhánh 3</option>
                                    <option value="">Chi nhánh 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Số giao dịch</label>
                                <input type="text" class="form-control" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="form-control">
                                    <option value="">Chưa duyệt</option>
                                    <option value="">Đã duyệt</option>
                                    <option value="">Trả về</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-left">
                                <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Truy vấn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="tab-content">
                    <div class="panel-body">
                        <div class="panel panel-heading">
                            <div class="pull-right">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                                </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox check-primary">
                                                <input value="3" id="checkbox1" type="checkbox">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>
                                        </th>
                                        <th rowspan="2">Mã nghiệp vụ</th>
                                        <th rowspan="2">Tên chứng từ</th>
                                        <th rowspan="2">Số giao dịch </th>
                                        <th rowspan="2">Số chứng từ</th>
                                        <th rowspan="2">STT</th>
                                        <th colspan="3" class="text-center">Tài khoản nợ</th>
                                        <th colspan="3" class="text-center">Tài khoản có</th>
                                        <th rowspan="2 " style="width:7% ">Số tiền</th>
                                        <th rowspan="2 " style="width:7% ">Tỷ giá</th>
                                        <th rowspan="2 " style="width:7% ">Thành tiền</th>
                                    </tr>
                                    <tr>
                                        <th style="width:7% ">CN</th>
                                        <th style="width:7% ">Loại tiền</th>
                                        <th style="width:7% ">Số tài khoản</th>
                                        <th style="width:7% ">CN</th>
                                        <th style="width:7% ">Loại tiền</th>
                                        <th style="width:7% ">Số tài khoản</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox check-primary">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle ">123</td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                    </tr>
                                    <tr>
                                         <td style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox check-primary">
                                                <input value="3" id="checkbox3" type="checkbox">
                                                <label for="checkbox3" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle ">124</td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                        <td class="v-align-middle "></td>
                                    </tr>
                                </tbody>
                            </table>
                            {{>pagination}}
                        </div>
                        <div class="row ">
                            <div class="form-group text-right ">
                                <button class="btn btn-primary btn-cons" type="button "><i class="fa fa-print "></i> In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script " mode="append "}} {{/content}} {{/extend}}