{{#extend "default"}} {{#content "main"}}

<br>
<!--Danh sách công văn-->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Số dư kế toán cuối ngày</h3>

        </div>

    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default ">

                <div class="tab-content">

                    <div class="panel-body">
                        <div class="panel panel-heading">
                            <div class="pull-right m-b-10">
                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i>
                                </button>

                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 6%">Ngày</th>
                                        <th style="width: 7%">Chi nhánh</th>
                                        <th style="width: 7%">Tài khoản</th>
                                        <th style="width: 10%">Tồn đầu kỳ dư nợ</th>
                                        <th style="width: 10%">Tồn đầu kỳ dư có</th>
                                        <th style="width: 15%">Tổng phát sinh nợ (TPSN)</th>
                                        <th style="width: 15%">Tổng phát sinh có (TPSC)</th>
                                        <th style="width: 15%">Tồn cuối kỳ dư nợ (TCK)</th>
                                        <th style="width: 15%">Tồn cuối kỳ dư có (TCK)</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td class="v-align-middle">26/04/2017</td></tr>
                                </tbody>
                            </table>
                            {{>pagination}}

                        </div>
                        <div class="row">
                            <div class="form-group text-right">

                                <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="pg-form"></i>Submit</button>
                                <button class="btn btn-danger btn-cons m-t-25" type="button"> <i class="pg-trash"></i>Hủy</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}