{{#extend "default"}} {{#content "main"}} 

<br>
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-12">

            <h3 class="page-title">{{title}}</h3>

        </div>



    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default">

                        <div class="panel-body">



                            <div class="row">
                                <div class="col-md-8">

                                    <div class="row m-b-15">
                                        <div class="col-md-4 name "> Ngày : </div>
                                        <div class="col-md-8 value">

                                            <b>12/03/2017</b>

                                        </div>
                                    </div>

                                    <div class="row m-b-15">
                                        <div class="col-md-4 name m-t-5"> Loại tiền : </div>
                                        <div class="col-md-8 value">

                                            <select class="form-control">
                                                <option value="">VND</option>
                                                <option value="">CAD</option>
                                                <option value="">USD</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row m-b-15">
                                        <div class="col-md-4 name "> Hình thức lương : </div>
                                        <div class="col-md-8 value">

                                           <select class="form-control">
                                                <option value="">Cuối kỳ</option>
                                                <option value="">Cuối kỳ</option>
                                                <option value="">Cuối kỳ</option>
                                            </select>

                                        </div>
                                    </div>

                                     <div class="row m-b-15">
                                        <div class="col-md-4 name  "> Tháng : </div>
                                        <div class="col-md-8 value">

                                             <select class="form-control">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                                <option value="">6</option>
                                                <option value="">7</option>
                                                <option value="">8</option>
                                                <option value="">9</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </div>
                                    </div>


                                     <div class="row m-b-15">
                                        <div class="col-md-4 name  "> Năm : </div>
                                        <div class="col-md-8 value">

                                             <select class="form-control">
                                                <option value="">2015</option>
                                                <option value="">2016</option>
                                                <option value="">2017</option>
                                               
                                            </select>
                                        </div>
                                    </div>

                                     <div class="row m-b-15">
                                        <div class="col-md-4 name m-t-5"> Import : </div>
                                        <div class="col-md-8 value">

                                            <input type="file" class="form-control" name="" value="">

                                        </div>
                                    </div>


                                    <div class="col-sm-8 m-t-10 sm-m-t-10 col-sm-offset-4">
                                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Hủy</button>
                                        <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-file-excel-o"></i> Xuất bảng lương</button>
                                    </div>



                                </div>


                            </div>


                        </div>

                </div>


            </div>


        </div>





    </div>

</div>

</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}