{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-danhmucquanly"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{title}}</h3>
        </div>
    </div>

    <div class="panel panel-default ">
        <div class="panel-body">
            <div class="row">

                <div class="col-md-6">
                    <form role="form" class="desModalForm">
                        <h6 class="text-uppercase form-title">Thông tin công ty</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-15">
                                    <div class="col-md-4 name m-t-5"> Tên công ty : </div>
                                    <div class="col-md-8 value">
                                        <input type="" class="form-control" name="" value="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-15">
                                    <div class="col-md-4 name m-t-5"> Địa chỉ : </div>
                                    <div class="col-md-8 value">
                                        <input type="" class="form-control" name="" value="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-15">
                                    <div class="col-md-4 name m-t-5"> Mã số thuế : </div>
                                    <div class="col-md-8 value">
                                        <input type="" class="form-control" name="" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-b-15">
                                    <div class="col-md-4 name m-t-5">Thuế suất thuế GTGT(%) : </div>
                                    <div class="col-md-8 value">
                                        <input type="" class="form-control" name="" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    <form role="form" class="desModalForm">
                        <h6 class="text-uppercase form-title">Thông tin tài khoản ngân hàng</h6>
                    </form>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form role="form" class="desModalForm">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row m-b-15">
                                            <div class="col-md-4 name m-t-5"> Loại tiền : </div>
                                            <div class="col-md-8 value">
                                                <select class="full-width" data-init-plugin="select2" data-placeholder="">
                                                    <option value="1">AUD</option>
                                                    <option value="2">CAN</option>
                                                    <option value="3">EUR</option>
                                                    <option value="4">GBP</option>
                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row m-b-15">
                                            <div class="col-md-4 name m-t-5"> Số tài khoản : </div>
                                            <div class="col-md-8 value">
                                                <input type="" class="form-control" name="" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row m-b-15">
                                            <div class="col-md-4 name m-t-5"> Ngân hàng : </div>
                                            <div class="col-md-8 value">
                                                <input type="" class="form-control" name="" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-right m-r-15">
                            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm tài khoản</button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-refresh"></i> Tạo lại</button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>  Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <h4>Danh mục ngân hàng</h4>
    {{>formSearch type="pkt-3"}}
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Ngày</th>
                        <th> Tên công ty</th>
                        <th> Địa chỉ</th>
                        <th> Mã số thuế</th>
                        <th> Loại tiền</th>
                        <th> Số tài khoản</th>
                        <th> Ngân hàng</th>
                        <th> Thuế suất thuế GTGT(%) </th>
                        <th> Chi tiết </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="v-align-middle">12/03/2017</td>
                        <td class="v-align-middle">ABC</td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle">
                            <a href="" class="text-primary" data-toggle="modal" data-target="#pkt-chiTietHoSo">Xem</a>
                        </td>

                    </tr>
                    <tr>
                        <td class="v-align-middle">13/03/2017</td>
                        <td class="v-align-middle">CDE</td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle"></td>
                        <td class="v-align-middle">
                            <a href="" class="text-primary" data-toggle="modal" data-target="#pkt-chiTietHoSo">Xem</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}