{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-hoadon"}}

<div class="container-fluid container-fixed-lg">

    <!-- MODAL STICK UP  -->

    <div class="panel panel-default">
        <div class="modal-header clearfix text-left">

            <h5><span class="semi-bold">{{title}}</span></h5>
            <!--<p>Nhập tỷ giá ngày và tỷ giá tháng</p>-->

        </div>
        <div class="modal-body">
            <form role="form">

                <div class="form-group-attached">
                    <div class="row">
                        <div class="col-sm-4">

                            <div class="form-group long">
                                <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">

                            <div class="form-group form-group-default required">
                                <label>Mẫu số</label>
                                <select class="form-control">
                                    <option value="">1</option>    
                                    <option value="">2</option>    
                                    <option value="">3</option>    
                                    <option value="">4</option>    
                                                      
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                    <button class="btn btn-primary btn-large btn-cons m-t-25" type="button"> Truy xuất</button>

                    </button>

                </div>
            </div>

        </div>


        </form>


    </div>
</div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}