{{#extend "default"}} {{#content "main"}}
<br>
<!--Danh sách công văn-->
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">
            <h3 class="page-title">Danh sách tỷ giá</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>NGÀY</label>
                                <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Loại tỷ giá</label>
                                <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                    <option value="">Tỷ giá ngày</option>
                                    <option value="">Tỷ giá tháng</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Ngân hàng</label>
                                <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                    <option value="">OCB</option>
                                    <option value="">ACB</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group text-left">
                                <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="fa fa-search"></i> Truy vấn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="tab-content">
                    <div class="panel-body">
                        <button class="btn btn-primary" type="button "><i class="fa fa-print "></i> In</button>
                        <div class="pull-right">
                            <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox check-primary">
                                                <input value="3" id="checkbox1" type="checkbox">
                                                <label for="checkbox1" class="m-r-0"></label>
                                            </div>
                                        </th>
                                        <th style="width:10%">STT</th>
                                        <th style="width:25%">NGÀY</th>
                                        <th style="width:25%">Loại tỷ giá</th>
                                        <th style="width:25%">Ngân hàng</th>
                                        <th style="width:10%">Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox check-primary">
                                                <input value="3" id="checkbox2" type="checkbox">
                                                <label for="checkbox2" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle ">1</td>
                                        <td class="v-align-middle ">20/05/2017</td>
                                        <td class="v-align-middle ">Tỷ giá ngày</td>
                                        <td class="v-align-middle ">OCB</td>
                                        <td class="v-align-middle">
                                            <a href="#" class="btn btn-tag  btn-tag-light btn-tag-rounded m-r-20" data-toggle="modal" data-target="#pkt-danhsach-tygia">Xem</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50px;padding: 10px 11px !important;">
                                            <div class="checkbox check-primary">
                                                <input value="3" id="checkbox3" type="checkbox">
                                                <label for="checkbox3" class="m-r-0"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle ">2</td>
                                        <td class="v-align-middle ">21/05/2017</td>
                                        <td class="v-align-middle ">Tỷ giá tháng</td>
                                        <td class="v-align-middle ">ACB</td>
                                        <td class="v-align-middle ">
                                            <a href="#" class="btn btn-tag  btn-tag-light btn-tag-rounded m-r-20" data-toggle="modal" data-target="#pkt-danhsach-tygia">Xem</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {{>pagination}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script " mode="append "}} {{/content}} {{/extend}}