{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-danhmucquanly"}}
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-sm-7">
      <h3 class="page-title">{{title}}</h3>
    </div>
    <div class="col-sm-5">
      <div class="text-right">
        <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan-taomoi"><i class="pg-form"></i> Tạo mới
                </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          {{>formSearch type="pkt-2"}}
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2" style="width:10%">Ngày</th>
                    <th colspan="1" class="text-center" style="width:20%">Loại tài khoản tài sản</th>
                    <th colspan="4" class="text-center" style="width:40%">Hệ thống TK</th>
                    <th rowspan="2" style="width:20%">Số tài khoản</th>
                    <th rowspan="2" style="width:10%">Hành động</th>
                  </tr>
                  <tr>
                    <th class="text-center">1</th>
                    <th class="text-center">Cấp 1</th>
                    <th class="text-center">Cấp 2</th>
                    <th class="text-center">Cấp 3</th>
                    <th class="text-center">Mã Tiểu khoản</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="3" class="bold text-center">20/05/2017</td>
                    <td class="bold">Tiền mặt</td>
                    <td class="bold">111</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="3" class="bold text-center"> <button class="btn btn-primary  m-t-5" type="button" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan-dieuchỉnh"><i class="fa fa-edit"></i> Điều chỉnh
                </button></td>
                  </tr>
                  <tr>
                    <td>VND</td>
                    <td></td>
                    <td>1</td>
                    <td>1</td>
                    <td>001</td>
                    <td>11111001</td>
                  </tr>
                  <tr>
                    <td>Ngoại tệ</td>
                    <td></td>
                    <td>1</td>
                    <td>1</td>
                    <td>001</td>
                    <td>11121001</td>
                  </tr>

                  <tr>
                    <td></td>
                    <td class="bold text-center"> 2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                  <tr>
                    <td rowspan="3" class="bold text-center">21/05/2017</td>
                    <td class="bold">Tiền gửi Ngân hàng</td>
                    <td class="bold">112</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="3" class="bold text-center"> <button class="btn btn-primary  m-t-5" type="button" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan-dieuchỉnh"><i class="fa fa-edit"></i> Điều chỉnh
                </button></td>
                  </tr>
                  <tr>
                    <td>VND</td>
                    <td></td>
                    <td>1</td>
                    <td>1</td>
                    <td>001</td>
                    <td>11211001</td>
                  </tr>
                  <tr>
                    <td>Ngoại tệ</td>
                    <td></td>
                    <td>1</td>
                    <td>1</td>
                    <td>001</td>
                    <td>11221001</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}