{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-hoadon"}}

<div class="container-fluid container-fixed-lg">

    <!-- MODAL STICK UP  -->

    <div class="panel panel-default">
        <div class="modal-header clearfix text-left">

            <h5><span class="semi-bold">{{title}}</span></h5>
            <!--<p>Nhập tỷ giá ngày và tỷ giá tháng</p>-->

        </div>

        <div class="modal-body">


        </div>
    </div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}