{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-hachtoantay-taisancodinh"}}
{{> navHori type="pkt-taisancodinh"}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>



    </div>

    <div class="row">

        <div class="col-md-12">



            <!--<h5>N <span class="semi-bold">giao dịch</span></h5>-->

            <div class="panel panel-default">

                <div class="panel-heading ">
                    <div class="panel-title">Tạo mới
                    </div>
                  
                </div>


                <div class="panel-body">





                    <div class="row">
                        <div class="col-md-6">

                            <div class="row m-b-15">
                                <div class="col-md-4 name"> Ngày <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value"><b>13/03/2017</b>
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Nghiệp vụ <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value"><b>CHI MUA TAI SAN CO DINH</b>
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Chi nhánh <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value"><b>Tên CN</b>
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Loại tiền <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value"><b>VND</b>
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Số tiền <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>


                            <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                                <button type="button" class="btn btn-default  m-t-5" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary  m-t-5">Lưu</button>
                            </div>



                        </div>



                    </div>


                </div>

            </div>


        </div>





    </div>

</div>

</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}