{{#extend "default"}} {{#content "main"}}
<div class="container-fluid container-fixed-lg">
    <h3 class="page-title">{{title}}</h3>
    <div class="panel panel-default">
        <div class="modal-body">
            <div class="row static-info">
                <div class="col-md-2 bold name"> Ngày thực thi: </div>
                <div class="col-md-10 value"> 20/04/2015
                </div>
            </div>
            <h6 class="bold text-uppercase m-t-20">Nhập tỷ giá</h6>
            <div class="form-group-attached">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default  required">
                            <label>File excel mẫu</label>
                            <button type="button" onclick="fnAction('excel');" class="btn btn-primary"><i class="fa fa-download"></i> Tải xuống</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default  required">
                            <label>Import file excel</label>
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default  required">
                            <label>Loại tỷ giá</label>
                            <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                    <option value="">Tỷ giá ngày</option>
                                    <option value="">Tỷ giá tháng</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                            <label>Ngân hàng</label>
                            <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                                    <option value="">OCB</option>
                                    <option value="">ACB</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                    <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal"><i class="fa fa-remove"></i> Hủy</button>
                    <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-edit"></i> Thực hiện</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}