{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-danhmucquanly"}}

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">Số dư kế toán cuối ngày</h3>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default ">

                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th style="">Ngày</th>
                            <th style="">Chi nhánh</th>
                            <th style="">Tài khoản</th>
                            <th style="">Tồn đầu kỳ dư nợ</th>
                            <th style="">Tồn đầu kỳ dư có</th>
                            <th style="">Tổng phát sinh nợ (TPSN)</th>
                            <th style="">Tổng phát sinh có (TPSC)</th>
                            <th style="">Tồn cuối kỳ dư nợ (TCK)</th>
                            <th style="">Tồn cuối kỳ dư có (TCK)</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="v-align-middle ">12/05/2017</td>

                        </tr>

                    </tbody>
                </table>

            </div>


            <div class="text-right">

                <button class="btn btn-primary btn-cons m-t-25" type="button"><i class="pg-form"></i>Submit</button>
                <button class="btn btn-danger btn-cons m-t-25" type="button"><i class="pg-trash"></i>Hủy</button>
            </div>


        </div>

    </div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}