{{#extend "default"}} {{#content "main"}}
<br>
<div class="container-fluid container-fixed-lg">

    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row  m-b-15">
                                <div class="col-md-4 name m-t-5"> Chọn ngày : </div>
                                <div class="col-md-4 value">
                                    <div id="datepicker-component" class="input-group date ">
                                        <input type="text" class="form-control"><span class="input-group-addon"><i
                                            class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Nghiệp vụ : </div>
                                <div class="col-md-4 value">
                                    <select class="full-width" data-init-plugin="select2" data-placeholder="">
                                            <option value=""></option>
                                            <option value="NV1">Điều chỉnh chênh lệch tỷ giá</option>
                                            <option value="NV2">Kết chuyển chênh lệch tỷ giá</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Chi nhánh : </div>
                                <div class="col-md-4 value">
                                    <select class="full-width" data-init-plugin="select2" data-placeholder="">
                                            <option value=""></option>
                                            <option value="NV1">ABC</option>
                                            <option value="NV2">CDE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="button" class="btn btn-primary  m-t-5"> <i class="fa fa-table"></i> Truy vấn</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr>
                            <h5>Danh sách chêch lệch</h5>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row text-left">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Thực hiện</button>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox4">
                                                            <label for="checkbox4" class="m-r-0"></label>
                                                        </div>
                                                    </th>
                                                    <th>Ngày*</th>
                                                    <th>Chi nhánh*</th>
                                                    <th>Tài khoản*</th>
                                                    <th class="text-center">Loại tiền*</th>
                                                    <th class="text-center">Số tiền*</th>
                                                    <th class="text-center">Thành tiền mới*</th>
                                                    <th class="text-center">Thành tiền cũ*</th>
                                                    <th class="text-center">Chênh lệch*</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox5">
                                                            <label for="checkbox5" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <td class="v-align-middle">12/03/2017</td>
                                                    <td class="v-align-middle">ABC</td>
                                                    <td class="v-align-middle">11121001</td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox6">
                                                            <label for="checkbox6" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <td class="v-align-middle">12/03/2017</td>
                                                    <td class="v-align-middle">ABC</td>
                                                    <td class="v-align-middle">11221001</td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox7">
                                                            <label for="checkbox7" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <td class="v-align-middle">12/03/2017</td>
                                                    <td class="v-align-middle">ABC</td>
                                                    <td class="v-align-middle">13682001</td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox8">
                                                            <label for="checkbox1" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <td class="v-align-middle">12/03/2017</td>
                                                    <td class="v-align-middle">ABC</td>
                                                    <td class="v-align-middle">13882001</td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox9">
                                                            <label for="checkbox9" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <td class="v-align-middle">12/03/2017</td>
                                                    <td class="v-align-middle">ABC</td>
                                                    <td class="v-align-middle">33682001</td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox10">
                                                            <label for="checkbox10" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <td class="v-align-middle">12/03/2017</td>
                                                    <td class="v-align-middle">ABC</td>
                                                    <td class="v-align-middle">33882002</td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5>Danh sách kết chuyển</h5>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row text-left">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Thực hiện</button>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox11">
                                                            <label for="checkbox11" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <th>Ngày*</th>
                                                    <th>Chi nhánh*</th>
                                                    <th>Tài khoản*</th>
                                                    <th class="text-center">Phát sinh nợ*</th>
                                                    <th class="text-center">Phát sinh có*</th>
                                                    <th class="text-center">Chênh lệch*</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th style="width: 50px;padding: 10px 11px !important;">
                                                        <div class="checkbox check-primary">
                                                            <input type="checkbox" value="3" id="checkbox12">
                                                            <label for="checkbox12" class="m-r-0"></label>
                                                        </div>
                                                    </th>

                                                    <td class="v-align-middle">12/03/2017</td>
                                                    <td class="v-align-middle">ABC</td>
                                                    <td class="v-align-middle">11121001</td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                    <td class="v-align-middle"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}