{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-danhmucquanly"}}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tên chi nhánh </th>
                                <th>Mã chi nhánh</th>
                                <th>USD</th>
                                <th>EUR</th>
                                <th>CAD </th>
                                <th>Hành động </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="v-align-middle ">
                                    Chi nhánh 1
                                </td>
                                <td class="v-align-middle "> abc
                                </td>
                                <td class="v-align-middle ">10
                                </td>
                                <td class="v-align-middle ">20
                                </td>
                                <td class="v-align-middle ">30
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"> <i class="fa fa-edit"></i> Duyệt yêu cầu</button>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalTuChoi"><i class="fa fa-trash-o"></i> Từ chối</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="v-align-middle ">
                                    Chi nhánh 2
                                </td>
                                <td class="v-align-middle "> xyz
                                </td>
                                <td class="v-align-middle ">10
                                </td>
                                <td class="v-align-middle ">20
                                </td>
                                <td class="v-align-middle ">30
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDuyet"> <i class="fa fa-edit"></i> Duyệt yêu cầu</button>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalTuChoi"><i class="fa fa-trash-o"></i> Từ chối</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}