{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-httd-hoahongthuhuong-xulydulieu"}}
<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--<h5>N <span class="semi-bold">giao dịch</span></h5>-->
            <div class="panel panel-default">
                <!--<div class="panel-heading ">
                    <div class="panel-title">Tạo mới
                    </div>
                </div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row  m-b-15">
                                <div class="col-md-4 name m-t-5"> Loại tiền : </div>
                                <div class="col-md-6 value">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label>Danh sách Loại tiền</label>
                                                <input type="text" value="AUD" class="form-control m-b-5" disabled>
                                                <input type="text" value="CAD" class="form-control m-b-5" disabled>
                                                <input type="text" value="EUR" class="form-control m-b-5" disabled>
                                                <input type="text" value="GBP" class="form-control m-b-5" disabled>
                                                <input type="text" value="USD" class="form-control m-b-5" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label>Tỷ giá</label>
                                                <input type="text" class="form-control m-b-5">
                                                <input type="text" class="form-control m-b-5">
                                                <input type="text" class="form-control m-b-5">
                                                <input type="text" class="form-control m-b-5">
                                                <input type="text" class="form-control m-b-5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row  m-b-15">
                                <div class="col-md-4 name m-t-5"> </div>
                                <div class="col-md-8 value">
                                    <div class=" m-t-10 sm-m-t-10 ">
                                        <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-edit"></i> Thực hiện</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="col-sm-12">
                            <hr>
                            <h5>Danh sách</h5>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Xuất danh sách
                                        </button>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="clearfix">
                                            <div class="pull-right m-b-10">
                                                <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                                                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" style="text-align:center">Ngày</th>
                                                    <th rowspan="2" style="text-align:center">Tên đối tác</th>
                                                    <th rowspan="2" style="text-align:center">ID đối tác</th>
                                                    <th rowspan="2" style="text-align:center">LT Thanh toán</th>
                                                    <th colspan="7" style="text-align:center">Phí</th>
                                                    <th rowspan="2" style="text-align:center">Tỷ giá</th>
                                                    <th rowspan="2" style="text-align:center">TT</th>
                                                    <th rowspan="2" style="text-align:center">Phí xử lý giao dịch</th>
                                                    <th rowspan="2" style="text-align:center">TT chưa thuế</th>
                                                    <th rowspan="2" style="text-align:center">Thuế GTGT</th>
                                                </tr>
                                                <tr>
                                                   
                                                    <th>PO</th>
                                                    <th>PR</th>
                                                    <th>AD</th>
                                                    <th>PB</th>
                                                    <th>Phí xử lý hồ sơ</th>
                                                    <th>Điều chỉnh hoa hồng</th>
                                                    <th>TC</th>
                                             
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="v-align-middle ">12/03/2017 </td>
                                                    <td class="v-align-middle "> ABD</td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>

                                                </tr>
                                                <tr>
                                                    <td class="v-align-middle "> 13/03/2017</td>
                                                    <td class="v-align-middle "> XYZ</td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                    <td class="v-align-middle "> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{>pagination}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}