{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-danhmucquanly"}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>


        </div>

        <div class="col-sm-5">
            <div class="text-right">
                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan"><i class="pg-form"></i> Tạo mới 
                </button>
            </div>

        </div>



    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default ">

                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary " role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="active"><a href="#tabChuaDuyet" data-toggle="tab" role="tab">Chưa duyệt</a>
                    </li>

                    <li class=""><a href="#tabDaDuyet" data-toggle="tab" role="tab">Đã duyệt</a>
                    </li>
                    <li><a href="#tabTraVe" data-toggle="tab" role="tab">Trả về</a>
                    </li>

                    <li><a href="#tabLanhDaoDuet" data-toggle="tab" role="tab">Duyệt</a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tabChuaDuyet">

                        <div class="panel-body">

                            <!--<h5>Danh sách <span class="semi-bold">chưa duyệt</span></h5>-->


                            {{>formSearch type="pkt-2"}}

                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th style="">Ngày</th>
                                        <th style="">Loại TK</th>
                                        <th style="">TK cấp 1</th>
                                        <th style="">Tên TK cấp 1</th>
                                        <th style="">TK cấp 2</th>
                                        <th style="">Tên TK cấp 2</th>



                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>


                                        <td class="v-align-middle text-center">
                                            12/05/2017
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>
                                        <td class="v-align-middle ">

                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle ">
                                        </td>

                                        <td class="v-align-middle">
                                            <a href="#" class="text-primary" data-toggle="modal" data-target="#pkt-dmql-taikhoanketoan">Xem</a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="tab-pane " id="tabDaDuyet">
                        <div class="panel-body">

                            <h5>Danh sách <span class="semi-bold">đã duyệt</span></h5>


                        </div>

                    </div>

                    <div class="tab-pane " id="tabTraVe">
                        <div class="panel-body">

                            <h5>Danh sách <span class="semi-bold">trả về</span></h5>


                        </div>

                    </div>

                    <div class="tab-pane " id="tabLanhDaoDuet">
                        <div class="panel-body">

                            <h5>Danh sách <span class="semi-bold">lãnh đạo duyệt</span></h5>


                        </div>

                    </div>
                </div>


            </div>





        </div>





    </div>


</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}