{{#extend "default"}} {{#content "main"}}

<br>

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>



    </div>

    <div class="row">

        <div class="col-md-12">



            <!--<h5>N <span class="semi-bold">giao dịch</span></h5>-->

            <div class="panel panel-default">


                <div class="panel-body">


                    <br>


                    <div class="row">
                        <div class="col-md-8">

                            <div class="row m-b-15">
                                <div class="col-md-4 name"> Ngày <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value"><b>10/04/2017</b>
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Nghiệp vụ <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value"><b>THANH TOAN TAM UNG NHAN VIEN</b>
                                </div>
                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5"> Chi nhánh <span class="text-danger">(*)</span>: </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">

                                </div>

                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Hình thức thanh toán <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value">

                                    <select class="form-control">
                                        <option value="">PG</option>
                                        <option value="">PA</option>
                                        <option value="">PD</option>
                                    </select>


                                </div>
                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5"> Ngân hàng <span class="text-danger">(*)</span>: </div>
                                <div class="col-md-8 value">
                                    <select class="full-width" data-init-plugin="select2" data-placeholder="">
                                                    <option value=""></option>
                                                    <option value="AK">Ngân hàng A</option>
                                                    <option value="AK">Ngân hàng B</option>
                                                    <option value="AK">Ngân hàng C</option>
                                                </select>

                                </div>

                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5"> Tên NV/KH <span class="text-danger">(*)</span>: </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">

                                </div>

                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5"> Loại tiền (CCY/VND) : </div>
                                <div class="col-md-8 value">

                                    <div class="row">
                                        <div class="col-sm-5">
                                             <div class="form-group">
                                                <label>DS Loại tiền</label>
                                                <select class="form-control">
                                                    <option value="">USA</option>
                                                    <option value="">CAD</option>
                                                    <option value="">VND</option>
                                                </select>
                                            </div>
                                        </div>

                                         <div class="col-sm-5">
                                             <div class="form-group">
                                                <label>Số tiền</label>
                                                <input type="text " class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-2 text-right">
                                            <a href="" class="btn btn-primary m-b-20 m-t-25"> <i class="fa fa-plus"></i> </a>
                                        </div>

                                        

                                    </div>
                                           

                                       


                                    <table class="table table-hover table-small" id="">
                                        <thead>
                                            <tr>
                                                <th>Loại tiền</th>
                                                <th>Số tiền</th>
<th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="v-align-middle"> USD </td>

                                                <td class="v-align-middle bold">5000</td>
                                                <td><a href="" class="text-danger">xóa</a></td>
                                            </tr>
                                            <tr>

                                                <td class="v-align-middle"> EUR </td>

                                                <td class="v-align-middle bold">7000</td>

                                                <td><a href="" class="text-danger">xóa</a></td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </div>

                            </div>


                            <div class="row  m-b-15">

                                <div class="col-md-4 name"> Tỷ giá : </div>
                                <div class="col-md-8 value">Theo bảng tỷ giá tháng
                                </div>

                            </div>

                            <div class="row  m-b-30">

                                <div class="col-md-4 name">Thành tiền : </div>
                                <div class="col-md-8 value"><b class="text-primary"> Số tiền X Tỷ giá </b>
                                </div>

                            </div>

                            <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                                <button type="button" class="btn btn-default  m-t-5" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary  m-t-5">Lưu</button>
                            </div>



                        </div>



                    </div>


                </div>

            </div>


        </div>





    </div>

</div>

</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}