{{#extend "default"}} {{#content "main"}}
<br>

<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>

        <!--<div class="col-sm-5">
            <div class="text-right">


                <button class="btn btn-info btn-cons m-b-10" type="button" data-toggle="modal" data-target="#createDoiTac"><i class="pg-form"></i> Tạo mới đối tác
                </button>

            </div>
        </div>-->

    </div>

    <div class="row">

        <div class="col-md-12">





            <!--<h5>N <span class="semi-bold">giao dịch</span></h5>-->

            <div class="panel panel-default">


                <div class="panel-body">


                    <br>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="row m-b-15">
                                <div class="col-md-4 name"> Ngày : </div>
                                <div class="col-md-8 value"><b>13/03/2017</b>
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Tên đối tác : </div>
                                <div class="col-md-8 value"><b>ABC</b>
                                </div>
                            </div>
                            <div class="row  m-b-15">
                                <div class="col-md-4 name"> ID đối tác : </div>
                                <div class="col-md-8 value"><b> 0011</b>
                                </div>


                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name"> Nghiệp vụ : </div>
                                <div class="col-md-8 value"><b> NHAN TIEN CHUYEN VE TU DOI TAC</b>
                                </div>

                            </div>
                            <div class="row  m-b-15">

                                <div class="col-md-4 name"> Hình thức thanh toán : </div>
                                <div class="col-md-8 value"><b> Tiền gửi</b>
                                </div>

                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5"> Ngân hàng : </div>
                                <div class="col-md-8 value">
                                    <select class="full-width" data-init-plugin="select2" data-placeholder="">
                                                    <option value=""></option>
                                                    <option value="AK">Ngân hàng A</option>
                                                    <option value="AK">Ngân hàng B</option>
                                                    <option value="AK">Ngân hàng C</option>
                                                </select>

                                </div>

                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name m-t-5"> Loại tiền thanh toán : </div>
                                <div class="col-md-8 value">

                                    <table class="table table-hover table-small" id="">
                                        <thead>
                                            <tr>
                                                <th>Loại tiền</th>
                                                <th>Sôt tiền</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td class="v-align-middle"> USD </td>

                                                <td class="v-align-middle bold">5000</td>


                                            </tr>

                                            <tr>

                                                <td class="v-align-middle"> EUR </td>

                                                <td class="v-align-middle bold">7000</td>


                                            </tr>





                                        </tbody>
                                    </table>

                                </div>

                            </div>

                            <div class="row  m-b-15">

                                <div class="col-md-4 name"> Tỷ giá : </div>
                                <div class="col-md-8 value">Theo thông tin từ QLSD
                                </div>

                            </div>

                            <div class="row  m-b-30">

                                <div class="col-md-4 name">Thành tiền : </div>
                                <div class="col-md-8 value"><b class="text-primary"> Số tiền X Tỷ giá </b>
                                </div>

                            </div>

                             <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                                <button type="button" class="btn btn-default  m-t-5" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary  m-t-5">Đồng ý</button>
                            </div>



                        </div>
                        <div class="col-md-6">

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Loại tiền bán : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>
                             <div class="row  m-b-15">
                                <div class="col-md-4  name"> Loại tiền mua : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                             <div class="row  m-b-15">
                                <div class="col-md-4  name"> Số tiền bán : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                             <div class="row  m-b-15">
                                <div class="col-md-4  name"> Loại tiền giao dịch : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>
                             <div class="row  m-b-15">
                                <div class="col-md-4  name"> Loại tiền chi : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Số tiền : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Phí thu hoa hồng : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row  m-b-15">
                                <div class="col-md-4  name"> Thuế GTGT : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>





                        </div>


                    </div>


                </div>

            </div>


        </div>





    </div>

</div>

</div>



{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}