{{#extend "default"}} {{#content "main"}} {{> navHori type="pkt-danhmucquanly"}}


<div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
    <!-- END PLACE PAGE CONTENT HERE -->
    <div class="row">
        <div class="col-sm-7">

            <h3 class="page-title">{{title}}</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="panel panel-default ">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">

                            <h5 class="m-t-0">
                                Tạo mới nghiệp vụ
                            </h5>

                            <div class="row m-b-15">
                                <div class="col-md-4 name"> Ngày : </div>
                                <div class="col-md-8 value"><b>13/03/2017</b>
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Tên công ty : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Địa chỉ : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Mã số thuế : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Loại tiền : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Số tài khoản : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5"> Ngân hàng: </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="row m-b-15">
                                <div class="col-md-4 name m-t-5">Thuế suất thuế GTGT(%) : </div>
                                <div class="col-md-8 value">
                                    <input type="" class="form-control" name="" value="">
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="button" class="btn btn-default  m-t-5" data-dismiss="modal">Tạo lại</button>
                                <button type="button" class="btn btn-primary  m-t-5">Lưu</button>
                            </div>

                        </div>

                    </div>




                </div>

            </div>


            <h4>Danh mục ngân hàng</h4>

            {{>formSearch type="pkt-3"}}
            <br>
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th> Ngày</th>
                                <th> Tên công ty</th>
                                <th> Địa chỉ</th>
                                <th> Mã số thuế</th>
                                <th> Loại tiền</th>
                                <th> Số tài khoản</th>
                                <th> Ngân hàng</th>
                                <th> Thuế suất thuế GTGT(%) </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>







        </div>


    </div>

</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}